<%= form_tag("calc_vdot", method: "get") do %>
  
  TRIATHLON
  <br>
  <input type="radio" name="race_type" value="LD" onclick="set_preset_value('3800','180200','42195')">Long Distance
  <input type="radio" name="race_type" value="MD" onclick="set_preset_value('1900','90000','21100')">Middle Distance
  <input type="radio" name="race_type" value="OD" onclick="set_preset_value('1500','40000','10000')">Olympic Distance
  <input type="radio" name="race_type" value="SD" onclick="set_preset_value('500','20000','5000')">Sprint Distance
  <br/><br/>
  
  
  <br>
  <%= label_tag(:swim_distance, "Swim distance:") %>
  <%= number_field_tag(:swim_distance, @swim_distance, min: 0, max: 4000, step: 0.001) %>
  <%= select_tag(:swim_distance_unit, options_for_select([['m'], ['km'], ['miles']])) %>
    
  <%= label_tag(:swim_duration, "Swim duration:") %>
  <%= number_field_tag(:swim_duration_h, @swim_h, in: 0..3, step: 1, :size=> 2) %> h
  <%= number_field_tag(:swim_duration_m, @swim_m, in: 0..59, step: 1, :size=> 2) %> m 
  <%= number_field_tag(:swim_duration_s, @swim_s, in: 0..59, step: 1, :size=> 2) %> s
  <br>
  <%= label_tag(:bike_distance, "Bike distance:") %>
  <%= number_field_tag(:bike_distance, @bike_distance, min: 0, max: 200000, step: 0.001) %>
  <%= select_tag(:bike_distance_unit, options_for_select([['m'], ['km'], ['miles']])) %>
  <%= label_tag(:bike_duration, "Bike duration:") %>
  <%= number_field_tag(:bike_duration_h, @bike_h, :size=> 2) %> h
  <%= number_field_tag(:bike_duration_m, @bike_m, :size=> 2) %> m 
  <%= number_field_tag(:bike_duration_s, @bike_s, :size=> 2) %> s
  <br>
  <%= label_tag(:run_distance, "Run distance:") %>
  <%= number_field_tag(:run_distance, @run_distance, min: 0, max: 50000, step: 0.001) %>
  <%= select_tag(:run_distance_unit, options_for_select([['m'], ['km'], ['miles']])) %>
  <%= label_tag(:run_duration, "Run duration:") %>
  <%= number_field_tag(:run_duration_h, @run_h, :size=> 2) %> h
  <%= number_field_tag(:run_duration_m, @run_m, :size=> 2) %> m 
  <%= number_field_tag(:run_duration_s, @run_s, :size=> 2) %> s
  <br>
  
  <%= label_tag(:total_duration, "Total duration:") %>
  <%= number_field_tag(:total_duration_h, @total_duration_h, :size=> 2) %> h
  <%= number_field_tag(:total_duration_m, @total_duration_m, :size=> 2) %> m 
  <%= number_field_tag(:total_duration_s, @total_duration_s, :size=> 2) %> s
  <br>
  
	<p>
	  <strong>Swim VDOT:</strong>
	  <%= @swim_vdot.round(1).to_s %>
	</p>

	<p>
	  <strong>Bike VDOT:</strong>
	  <%= @bike_vdot.round(1).to_s %>
	</p>

	<p>
	  <strong>Run VDOT:</strong>
	  <%= @run_vdot.round(1).to_s %>
	</p>

	<p>
	  <strong>Total Triathlon VDOT:</strong>
	  <%= @total_vdot.round(1).to_s %>
	</p>

	<br>
  	<hl>
  
  RUNNING
  <br>
  
  <%= label_tag(:running_distance, "Run distance:") %>
  <%= number_field_tag(:running_distance, @running_distance) %>
  <%= select_tag(:running_distance_unit, options_for_select([['m'], ['km'], ['miles']])) %>
  <%= label_tag(:running_duration, "Run duration:") %>
  <%= number_field_tag(:running_duration_h, @running_h, :size=> 2) %>h
  <%= number_field_tag(:running_duration_m, @running_m, :size=> 2) %>m
  <%= number_field_tag(:running_duration_s, @running_s, :size=> 2) %>s
  <br>
  
  <%= submit_tag("Calculate VDOT") %>

<% end %>

<p>
  <strong>VDOT:</strong>
  <%= @vdot.round(1).to_s %>
</p>


<script>
 function set_preset_value(val1, val2, val3){
  document.getElementById('swim_distance').value = val1;
  document.getElementById('bike_distance').value = val2;
  document.getElementById('run_distance').value = val3;
 }

</script>