
<div id="flipbook">

  <div class="hard", style="background-image:url(<%= image_url 'bikebottle.jpg' %>)" > 
    <br><br/>
    <h1>Qualigel Cookbook</h1>
    <br><br/>
    <br><br/>
    <br><br/>
    <h2>Enjoy cooking the ultimate Qualigel and feel the performance boost</h2>
  </div>

  <div style="background-image:url(<%= image_url 'patterns/header_profile_skin_2.png' %>)">
    <br><br/>
    <br><br/>
    <h2>...and if it works, feel free to share it</h2>
  </div>

  <div style="background-image:url(<%= image_url 'patterns/shattered.png' %>)"> 
       <%= form_tag("qualigel", method: "get") do %>
      
       <br>
      <input type="radio" name="carbo_per_hour" value="50g" onclick="set_preset_value('200','100','200','2')">50g
      <input type="radio" name="carbo_per_hour" value="70g" onclick="set_preset_value('300','150','300','2')">70g
      <input type="radio" name="carbo_per_hour" value="90g" onclick="set_preset_value('400','200','400','2')">90g
      <br/><br/>
     
       
      <br>
      <%= label_tag(:juice, "Juice:") %>
      <%= number_field_tag(:juice_ml, @juice_ml, min: 0, max: 1000, step: 1) %> ml
      <br><br/>
      <%= label_tag(:honney, "Honney:") %>
      <%= number_field_tag(:honney_ml, @honney_ml, in: 0..500, step: 1, :size=> 2) %> ml
      <br><br/>
      <%= label_tag(:maltodextrin, "Maltodextrin:") %>
      <%= number_field_tag(:maltodextrin_g, @maltodextrin_g, min: 0, max: 1000, step: 1) %>g
      <br><br/>
      <%= label_tag(:juice, "Water:") %>
      <%= number_field_tag(:water_ml, @water_ml, min: 0, max: 2000, step: 1) %> ml
      <br><br/>
      <%= label_tag(:salt, "Salt:") %>
      <%= number_field_tag(:salt_g, @salt_g, min: 0, max: 1000, step: 1) %> g
       <br>
      
      <p>
        <strong>Carbo in juice:</strong>
        <%= @carbo_in_juice.round(1).to_s %>
      </p>

      <p>
        <strong>Carbo in honney:</strong>
        <%= @carbo_in_honney.round(1).to_s %>
      </p>

      <p>
        <strong>Carbo in Maltodextrin:</strong>
        <%= @carbo_in_maltodextrin.round(1).to_s %>
      </p>

      <p>
        <strong>Total carbo:</strong>
        <%= @carbo_total.round(1).to_s %>
      </p>

      <br>
      
      <%= submit_tag("Cook Qualigel") %>

    <% end %>
 </div>

  <div style="background-image:url(<%= image_url 'patterns/shattered.png' %>)"> 
    <br><br/>
    <br><br/>
    <h2>Did you feel the power?</h2>
   </div>
  
  <div class="hard", style="background-image:url(<%= image_url 'patterns/header_profile_skin_2.png' %>)"></div>
  <div class="hard", style="background-image:url(<%= image_url 'patterns/header_profile_skin_2.png' %>)"></div>
 </div>











<script>
 function set_preset_value(val1, val2, val3, val4){
  document.getElementById('juice_ml').value = val1;
  document.getElementById('honney_ml').value = val2;
  document.getElementById('maltodextrin_g').value = val3;
  document.getElementById('salt_g').value = val4;
 }

</script>

<script type="text/javascript">
  $("#flipbook").turn({
    width: 800,
    height: 600,
    autoCenter: true
  });
</script>



