<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workout_file %><br>
    <%= f.file_field :workout_file %>
  </div>
  <div class="field">
    <%= f.label :sport_type_id %><br>
    <%= f.text_field :sport_type_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :planed_duration %><br>
    <%= f.number_field :planed_duration %>
  </div>
  <div class="field">
    <%= f.label :completed_duration %><br>
    <%= f.number_field :completed_duration %>
  </div>
  <div class="field">
    <%= f.label :planed_distance %><br>
    <%= f.number_field :planed_distance %>
  </div>
  <div class="field">
    <%= f.label :completed_distance %><br>
    <%= f.number_field :completed_distance %>
  </div>
  <div class="field">
    <%= f.label :planed_avg_pace %><br>
    <%= f.number_field :planed_avg_pace %>
  </div>
  <div class="field">
    <%= f.label :completed_avg_pace %><br>
    <%= f.number_field :completed_avg_pace %>
  </div>
  <div class="field">
    <%= f.label :planed_avg_speed %><br>
    <%= f.text_field :planed_avg_speed %>
  </div>
  <div class="field">
    <%= f.label :completed_avg_speed %><br>
    <%= f.text_field :completed_avg_speed %>
  </div>
  <div class="field">
    <%= f.label :planed_calories %><br>
    <%= f.number_field :planed_calories %>
  </div>
  <div class="field">
    <%= f.label :completed_calories %><br>
    <%= f.number_field :completed_calories %>
  </div>
  <div class="field">
    <%= f.label :planed_elevation_gain %><br>
    <%= f.text_field :planed_elevation_gain %>
  </div>
  <div class="field">
    <%= f.label :completed_elevation_gain %><br>
    <%= f.text_field :completed_elevation_gain %>
  </div>
  <div class="field">
    <%= f.label :completed_elevation_high %><br>
    <%= f.text_field :completed_elevation_high %>
  </div>
  <div class="field">
    <%= f.label :completed_elevation_low %><br>
    <%= f.text_field :completed_elevation_low %>
  </div>
  <div class="field">
    <%= f.label :planed_tss %><br>
    <%= f.text_field :planed_tss %>
  </div>
  <div class="field">
    <%= f.label :completed_tss %><br>
    <%= f.text_field :completed_tss %>
  </div>
  <div class="field">
    <%= f.label :planed_if %><br>
    <%= f.text_field :planed_if %>
  </div>
  <div class="field">
    <%= f.label :completed_if %><br>
    <%= f.text_field :completed_if %>
  </div>
  <div class="field">
    <%= f.label :planed_avg_hr %><br>
    <%= f.text_field :planed_avg_hr %>
  </div>
  <div class="field">
    <%= f.label :completed_avg_hr %><br>
    <%= f.text_field :completed_avg_hr %>
  </div>
  <div class="field">
    <%= f.label :completed_min_hr %><br>
    <%= f.text_field :completed_min_hr %>
  </div>
  <div class="field">
    <%= f.label :completed_max_hr %><br>
    <%= f.text_field :completed_max_hr %>
  </div>
  <div class="field">
    <%= f.label :planed_avg_power %><br>
    <%= f.text_field :planed_avg_power %>
  </div>
  <div class="field">
    <%= f.label :completed_avg_power %><br>
    <%= f.text_field :completed_avg_power %>
  </div>
  <div class="field">
    <%= f.label :completed_min_power %><br>
    <%= f.text_field :completed_min_power %>
  </div>
  <div class="field">
    <%= f.label :completed_max_power %><br>
    <%= f.text_field :completed_max_power %>
  </div>
  <div class="field">
    <%= f.label :autor %><br>
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label :target %><br>
    <%= f.text_field :target %>
  </div>
  <div class="field">
    <%= f.label :days_before_race %><br>
    <%= f.number_field :days_before_race %>
  </div>
  <div class="field">
    <%= f.label :planed_datetime %><br>
    <%= f.datetime_select :planed_datetime %>
  </div>
  <div class="field">
    <%= f.label :completed_datetime %><br>
    <%= f.text_field :completed_datetime %>
  </div>
  <div class="field">
    <%= f.label :athlete_id %><br>
    <%= f.number_field :athlete_id %>
  </div>
  <div class="field">
    <%= f.label :coach_id %><br>
    <%= f.number_field :coach_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
