<p id="notice"><%= notice %></p>

<h1>Listing Workouts</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Sport type</th>
      <th>Title</th>
      <th>Description</th>
      <th>Planed duration</th>
      <th>Completed duration</th>
      <th>Planed distance</th>
      <th>Completed distance</th>
      <th>Planed avg pace</th>
      <th>Completed avg pace</th>
      <th>Planed avg speed</th>
      <th>Completed avg speed</th>
      <th>Planed calories</th>
      <th>Completed calories</th>
      <th>Planed elevation gain</th>
      <th>Completed elevation gain</th>
      <th>Completed elevation high</th>
      <th>Completed elevation low</th>
      <th>Planed tss</th>
      <th>Completed tss</th>
      <th>Planed if</th>
      <th>Completed if</th>
      <th>Planed avg hr</th>
      <th>Completed avg hr</th>
      <th>Completed min hr</th>
      <th>Completed max hr</th>
      <th>Planed avg power</th>
      <th>Completed avg power</th>
      <th>Completed min power</th>
      <th>Completed max power</th>
      <th>Autor</th>
      <th>Target</th>
      <th>Days before race</th>
      <th>Planed datetime</th>
      <th>Completed datetime</th>
      <th>Athlete</th>
      <th>Coach</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user && current_user.workouts.includes(:sport_type).order(id: :desc).each do |workout| %>
      <tr>
        <td><%= link_to workout.id, workout  %></td>
        <td><%= workout.sport_type %></td>
        <td><%= workout.title %></td>
        <td><%= workout.description %></td>
        <td><%= workout.planed_duration %></td>
        <td><%= workout.completed_duration %></td>
        <td><%= workout.planed_distance %></td>
        <td><%= workout.completed_distance %></td>
        <td><%= workout.planed_avg_pace %></td>
        <td><%= workout.completed_avg_pace %></td>
        <td><%= workout.planed_avg_speed %></td>
        <td><%= workout.completed_avg_speed %></td>
        <td><%= workout.planed_calories %></td>
        <td><%= workout.completed_calories %></td>
        <td><%= workout.planed_elevation_gain %></td>
        <td><%= workout.completed_elevation_gain %></td>
        <td><%= workout.completed_elevation_high %></td>
        <td><%= workout.completed_elevation_low %></td>
        <td><%= workout.planed_tss %></td>
        <td><%= workout.completed_tss %></td>
        <td><%= workout.planed_if %></td>
        <td><%= workout.completed_if %></td>
        <td><%= workout.planed_avg_hr %></td>
        <td><%= workout.completed_avg_hr %></td>
        <td><%= workout.completed_min_hr %></td>
        <td><%= workout.completed_max_hr %></td>
        <td><%= workout.planed_avg_power %></td>
        <td><%= workout.completed_avg_power %></td>
        <td><%= workout.completed_min_power %></td>
        <td><%= workout.completed_max_power %></td>
        <td><%= workout.autor %></td>
        <td><%= workout.target %></td>
        <td><%= workout.days_before_race %></td>
        <td><%= workout.planed_datetime %></td>
        <td><%= workout.completed_datetime %></td>
        <td><%= workout.athlete_id %></td>
        <td><%= workout.coach_id %></td>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path %>
