
<div class="row">
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Workout Chart
                    <small><%= @workout.workout_file_file_name%></small>
                </h5>
            </div>
            <div class="ibox-content">
                <div>
                    <div id="workoutChart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Workout Info</h5>
            </div>
            <div class="ibox-content">
                <div>
                  <p><strong>Creator Name:</strong><%= @creator_name %></p>
                  <p><strong>Creator Unit ID:</strong><%= @creator_unitid %></p> 
                  <p><strong>Creator Version:</strong><%= @creator_version %></p> 
                  <p><strong>Author Name:</strong><%= @author_name %></p> 
                  <p><strong>Author Build Version:</strong><%= @author_build_version %></p> 
                  <p><strong>Author LangID:</strong><%= @author_langid %></p> 
                  <p><strong>Author Part Number:</strong><%= @author_partnumber %></p>
                  <p><strong>Activity Sport Type:</strong><%= @activity_sport %></p> 
                  <p><strong>Activity ID:</strong><%= @activity_id %></p> 
                </div>
            </div>
        </div>
    </div>
</div>


  <div class="row">
  <div class="ibox-content">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Lap</th>
            <th>Time</th>
            <th>Distance</th>
            <th>MaxSpeed</th>
            <th>Calories</th>
            <th>Avg HR</th>
            <th>Max HR</th>
           </tr>
          </thead>
          <tbody>
            <% lap_num = 0 %>
            <% @workout.laps.each do | lap | %>
              <% lap_num+=1 %>
      
            <tr>
              <td><%= lap_num.to_s%></td>
              <td><%= "#{Time.at(lap.lptotaltimeseconds).utc.strftime("%H:%M:%S")}" %></td>
              <td><%= "#{lap.lpdistancemeters}m" %></td>
              <td><%= "#{lap.lpmaxspeed.to_f.round(2)}m/s" %></td>
              <td><%= "#{lap.lpcalories}cal" %></td>
              <td><%= "#{lap.lpavgheartratebpm}bpm" %></td>
              <td><%= "#{lap.lpmaxheartratebpm}bpm" %></td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
  </div>
</div>
 

<p>
  <strong>Sport type:</strong>
  <%= @workout.sport_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @workout.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workout.description %>
</p>

<p>
  <strong>Planed duration:</strong>
  <%= @workout.planed_duration %>
</p>

<p>
  <strong>Completed duration:</strong>
  <%= @workout.completed_duration %>
</p>

<p>
  <strong>Planed distance:</strong>
  <%= @workout.planed_distance %>
</p>

<p>
  <strong>Completed distance:</strong>
  <%= @workout.completed_distance %>
</p>

<p>
  <strong>Planed avg pace:</strong>
  <%= @workout.planed_avg_pace %>
</p>

<p>
  <strong>Completed avg pace:</strong>
  <%= @workout.completed_avg_pace %>
</p>

<p>
  <strong>Planed avg speed:</strong>
  <%= @workout.planed_avg_speed %>
</p>

<p>
  <strong>Completed avg speed:</strong>
  <%= @workout.completed_avg_speed %>
</p>

<p>
  <strong>Planed calories:</strong>
  <%= @workout.planed_calories %>
</p>

<p>
  <strong>Completed calories:</strong>
  <%= @workout.completed_calories %>
</p>

<p>
  <strong>Planed elevation gain:</strong>
  <%= @workout.planed_elevation_gain %>
</p>

<p>
  <strong>Completed elevation gain:</strong>
  <%= @workout.completed_elevation_gain %>
</p>

<p>
  <strong>Completed elevation high:</strong>
  <%= @workout.completed_elevation_high %>
</p>

<p>
  <strong>Completed elevation low:</strong>
  <%= @workout.completed_elevation_low %>
</p>

<p>
  <strong>Planed tss:</strong>
  <%= @workout.planed_tss %>
</p>

<p>
  <strong>Completed tss:</strong>
  <%= @workout.completed_tss %>
</p>

<p>
  <strong>Planed if:</strong>
  <%= @workout.planed_if %>
</p>

<p>
  <strong>Completed if:</strong>
  <%= @workout.completed_if %>
</p>

<p>
  <strong>Planed avg hr:</strong>
  <%= @workout.planed_avg_hr %>
</p>

<p>
  <strong>Completed avg hr:</strong>
  <%= @workout.completed_avg_hr %>
</p>

<p>
  <strong>Completed min hr:</strong>
  <%= @workout.completed_min_hr %>
</p>

<p>
  <strong>Completed max hr:</strong>
  <%= @workout.completed_max_hr %>
</p>

<p>
  <strong>Planed avg power:</strong>
  <%= @workout.planed_avg_power %>
</p>

<p>
  <strong>Completed avg power:</strong>
  <%= @workout.completed_avg_power %>
</p>

<p>
  <strong>Completed min power:</strong>
  <%= @workout.completed_min_power %>
</p>

<p>
  <strong>Completed max power:</strong>
  <%= @workout.completed_max_power %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @workout.autor %>
</p>

<p>
  <strong>Target:</strong>
  <%= @workout.target %>
</p>

<p>
  <strong>Days before race:</strong>
  <%= @workout.days_before_race %>
</p>

<p>
  <strong>Planed datetime:</strong>
  <%= @workout.planed_datetime %>
</p>

<p>
  <strong>Completed datetime:</strong>
  <%= @workout.completed_datetime %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @workout.athlete_id %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @workout.coach_id %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Virtual Race</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li>
            <a>Miscellaneous</a>
        </li>
        <li class="active">
            <strong>Virtual Race Nr.1</strong>
        </li>
    </ol>
</div>
<div class="col-lg-2">

</div>
        </div>

<div class="wrapper wrapper-content  animated fadeInRight">

<div class="row">
    <div class="col-md-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><%=@workout.workout_file_file_name.to_s if @workout%></h5>
            </div>
            <div class="ibox-content">
              <div class="google-map" id="map"></div>
            </div>
        </div>
    </div>

<div class="row">
  <div class="ibox-content">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Lng</th>
            <th>Lat</th>
            <th>Alt</th>
            <th>Speed</th>
           </tr>
          </thead>
          <tbody>
            <% @track && @track.trackpoints.limit(10).each do |trackpoint| %>
            <tr>
              <td><%=trackpoint.id.to_s%></td>
              <td><%=trackpoint.tplongitudedegrees.to_f %></td>
              <td><%=trackpoint.tplatitudedegrees.to_f %></td>
              <td><%=trackpoint.tpaltitudemeters.to_f %>m</td>
              <td><%=trackpoint.tpspeed.to_f.round(1) %>m/s</td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
  </div>
</div>

<% content_for :javascript do %>
<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->
<!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script-->
<script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<script type="text/javascript">
// When the window has finished loading google map
 //"lat": 51.0292,
 //"lng": 6.23371,
     

handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: false
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){

    c3.generate({
      bindto: '#workoutChart',
      data:{
          columns: [
            ['Speed', 
              <% @workout.laps.each do | lap | %>
                <% lap.track.trackpoints.each do | trackpoint | %>
                  <%= trackpoint.tpspeed.to_f %> , 
                <% end %>  
              <% end %>  
            ],

            ['Heartrate', 
              <% @workout.laps.each do | lap | %>
                <% lap.track.trackpoints.each do | trackpoint | %>
                  <%= trackpoint.tpheartratebpm.to_f %> , 
                <% end %>  
              <% end %>  
            ],
            ['Altitude', 
              <% @workout.laps.each do | lap | %>
                <% lap.track.trackpoints.each do | trackpoint | %>
                  <%= trackpoint.tpaltitudemeters.to_f %> , 
                <% end %>  
              <% end %>  
            ]

            ],
            colors:{
                data1: '#1ab394',
                data2: '#BABABA'
            }
        }
    });

    markers = handler.addMarkers(<%=raw @marker_hash.to_json %>);
    //polyline = [{"lat":45.678295,"lng":6.603813,"ele":438.626221,"time":1381851321},{"lat":45.678196,"lng":6.603607,"ele":423.202148,"time":1381851363},{"lat":45.678181,"lng":6.603607,"ele":421.108398,"time":1381851373},{"lat":45.678162,"lng":6.603584,"ele":420.153442,"time":1381851383},{"lat":45.678123,"lng":6.603569,"ele":422.561096,"time":1381851393},{"lat":45.678165,"lng":6.6036,"ele":425.191284,"time":1381851403},{"lat":45.678169,"lng":6.603607,"ele":425.262329,"time":1381851413}];
    //handler.bounds.extendWith(polylines);
    <% @polylines.each do |polyline| %>
      polyline = <%=raw polyline.to_json %>
      handler.addPolyline(polyline);
      handler.bounds.extend(polyline[0]);
      handler.bounds.extend(polyline[ polyline.length - 1]);
    <% end %>
    /*markers = handler.addMarkers([
      {
          "lat": 51.0292,
          "lng": 6.23371,
          "picture": {
          "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
          "width":  32,
          "height": 32
        },
        "infowindow": "hello!"
      }
    ]);*/
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);

</script>

<% end %>
