%h1 Listing virtual_races

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @virtual_races.each do |virtual_race|
      %tr
        %td= link_to 'Show', virtual_race
        %td= link_to 'Edit', edit_virtual_race_path(virtual_race)
        %td= link_to 'Destroy', virtual_race, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Virtual race', new_virtual_race_path
