= render "devise/shared/header_panel"
-# bootstrap_devise_error_messages!
.panel.form_area
  .panel.panel-default
    .panel-heading
      %h4= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions')
    .panel-body
      = bootstrap_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f|
        = f.email_field :email, autofocus: true
        = render 'devise/shared/captcha'
        = render 'devise/shared/negative_captcha'
        = f.primary t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions')
  = render "devise/shared/links"
= render "devise/shared/footer_panel"
