<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Virtual Race</h2>
			<ol class="breadcrumb">
			<li>
				<a>Miscellaneous</a>
			</li>
			<li class="active">
				<strong>Virtual Race Nr.1</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
 </div>

<div class="wrapper wrapper-content  animated fadeInRight">

<div class="row">
    <div class="col-md-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>10km All-Out Race</h5>
            </div>
            <div class="ibox-content">
              <div class="google-map" id="map"></div>
            </div>
        </div>
    </div>

<div class="row">
  <div class="ibox-content">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Topic</th>
            <th>Lng</th>
            <th>Lat</th>
            <th>UserID</th>
            <th>VirtualRaceID</th>
            <th>TimeStamp</th>
            <th>Message</th>
          </tr>
          </thead>
          <tbody>
            <% MqttMessage.all.order("id DESC").each do |mqtt| %>
            <tr>
              <td><%=mqtt.id.to_s%></td>
              <td><%=mqtt.topic %></td>
              <td><%=mqtt.longitude %></td>
              <td><%=mqtt.latitude %></td>
              <td><%=mqtt.user_id %></td>
              <td><%=mqtt.virtual_race_id %></td>
              <td><%=mqtt.timestamp %></td>
              <td><%=mqtt.message %></td>
              
              
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
  </div>
</div>

<% content_for :javascript do %>
<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->
<!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script-->
<script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<script type="text/javascript">
// When the window has finished loading google map
 //"lat": 51.0292,
 //"lng": 6.23371,
     
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: false
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%=raw @marker_hash.to_json %>);
    //polyline = [{"lat":45.678295,"lng":6.603813,"ele":438.626221,"time":1381851321},{"lat":45.678196,"lng":6.603607,"ele":423.202148,"time":1381851363},{"lat":45.678181,"lng":6.603607,"ele":421.108398,"time":1381851373},{"lat":45.678162,"lng":6.603584,"ele":420.153442,"time":1381851383},{"lat":45.678123,"lng":6.603569,"ele":422.561096,"time":1381851393},{"lat":45.678165,"lng":6.6036,"ele":425.191284,"time":1381851403},{"lat":45.678169,"lng":6.603607,"ele":425.262329,"time":1381851413}];
    //handler.bounds.extendWith(polylines);
    <% @polylines.each do |polyline| %>
      polyline = <%=raw polyline.to_json %>
      handler.addPolyline(polyline);
      handler.bounds.extend(polyline[0]);
      handler.bounds.extend(polyline[ polyline.length - 1]);
    <% end %>
    /*markers = handler.addMarkers([
      {
          "lat": 51.0292,
          "lng": 6.23371,
          "picture": {
          "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
          "width":  32,
          "height": 32
        },
        "infowindow": "hello!"
      }
    ]);*/
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);

</script>

<% end %>
