-# bootstrap_devise_error_messages!
.panel.form_area
  .panel.panel-default
    .panel-heading
      %h4= t('.sign_up1', :default => "Or tell us about yourself below to get started:")
    .panel-body
      = bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f|
        = f.text_field :firstname
        = f.text_field :lastname
        = f.email_field :email, autofocus: true
        = f.password_field :password, autocomplete: "off"
        = f.password_field :password_confirmation, autocomplete: "off"
        
        = render 'devise/shared/captcha'
        = render 'devise/shared/negative_captcha'
        = f.primary t('.sign_up', :default => "Sign up")



