-# bootstrap_devise_error_messages!
.panel.panel-default
  .panel-heading
    %h4= t('.title', :resource => resource_class.model_name.human , :default => 'Edit #{resource_name.to_s.humanize}')
  .panel-body
    = bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = f.email_field :email
      = f.password_field :password, autocomplete: "off", help: t('.leave_blank_if_you_don_t_want_to_change_it')
      = f.password_field :password_confirmation, autocomplete: "off"
      = f.password_field :current_password, autocomplete: "off", help: t('.we_need_your_current_password_to_confirm_your_changes')
      = f.primary t('.update', :default => "Update")
%p
  = t('.unhappy', :default => 'Unhappy')
  ? #{link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete}.
= link_to "Back", root_path
