<div class="sign-up">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">
				<a href="javascript:void(0);"><a href="#"> <img alt="image" class="" src="<%= image_path('logo.png') %>"> </a></a>
				
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<nav class="navbar-collapse collapse pull-right" id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="#header">Home</a></li>
					<li><a href="#search">Search</a></li>
					<li><a href="#share">Share</a></li>
					<li><a href="#calendar">Calendar</a></li>
					<li><a href="#training">Training plans</a></li>
					<li><a href="#footer">Footer</a></li>
				</ul>
			</nav>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-area">
				<div class="sign_in_form">
					<div class="sign-in-title-panel">
						<i class="fa fa-user-plus" aria-hidden="true"></i>
						<h3>Sign Up</h3>
						<p>Tell us about yourself below to get started</p>
					</div>
							<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:id => "new_user"}) do |f| %>
								<% devise_error_messages! %>
								<div class="form-group">
									
									<div class="input-group">
										<%= f.text_field :firstname, :class=>'form-control', :id=>'user_firstname', :placeholder=>'First Name' %>
									</div>
								
									<div class="input-group">
										<%= f.text_field :lastname, :class=>'form-control', :id=>'user_lastname', :placeholder=>'Last Name' %>
									</div>
								
									<div class="input-group">
										<%= f.text_field :email, :class=>'form-control', :id=>'user_email', :placeholder=>'E-mail address', :autofocus=>true %>
										<div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
									</div>

									<div class="input-group">
										<%= f.password_field :password, :class=>'form-control', :id=>'user_password', :placeholder=>'Password', :autocomplete=>'off' %>
										<div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
									</div>
									
									<div class="input-group">
										<%= f.password_field :password_confirmation, :class=>'form-control', :id=>'user_password_confirmation', :placeholder=>'Confirm Password', :autocomplete=>'off' %>
										<div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
									</div>
									
									<div class="input-group">
										<%= render 'devise/shared/captcha' %>
									</div>
								
								</div>	
								<%= f.button "Sign up", :class=>"btn btn-red" do %>
									<i class="fa fa-user-plus" aria-hidden="true"></i>
									Sign Up
								<% end %>
							<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
