<%= javascript_include_tag "turnjs/all.js" %>
<%= javascript_include_tag "turnjs/bookshelf.js" %>
<%= javascript_include_tag "turnjs/docs1.js" %>
<%= javascript_include_tag "turnjs/docs2.js" %>
<%= javascript_include_tag "turnjs/docs3.js" %>
<%= javascript_include_tag "turnjs/docs4.js" %>
<%= javascript_include_tag "turnjs/docs5.js" %>


<%= javascript_include_tag "turnjs/hash.js" %>
<%= javascript_include_tag "turnjs/turn.min.js" %>
<%= javascript_include_tag "turnjs/zoom.min.js" %>

<div class="splash">
	<div class="center">
		
		<div class="bookshelf">
			<div class="shelf">
				<div class="row-1">
					<div class="loc">
						<div> <div class="sample thumb1" sample="docs1"></div> </div>
						<div> <div class="sample thumb2" sample="docs2"></div> </div>
						<div> <div class="sample thumb3" sample="docs3"></div> </div>
						<div> <div class="sample thumb4" sample="docs4"></div> </div>
						<div> <div class="sample thumb5" sample="docs5"></div> </div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="abc" style="display:none;"></div>
		
		<!-- Samples-->
		<div class="samples">
			<div class="bar">
				<a class="icon quit"></a>
			</div>
			<div id="book-wrapper">
				<div id="book-zoom"></div>
			</div>
			<div id="slider-bar" class="turnjs-slider">
				<div id="slider"></div>
			</div>

		</div>
		<!-- End samples -->

	</div>
</div>

<script>
	//$(document).ready(function() {
	$(window).load(function() {
		$('.thumb1').trigger('click');
		
		/*$('.navbar-toggle').on('click',function(){
			if ($(".navbar-toggle").hasClass("collapsed")) {
				$("#navbar").addClass('collapse');
			}else{
				alert("sd");
				$(this).addClass("collapsed");
				$("#navbar").clone().appendTo(".abc");
				$("#navbar").remove();
			}
		});*/
		
	});
</script>
