<div class="col-lg-3 box-sahdow text-center">
  Google Ads Area<br clear="all"><br><img width="450px" alt="" src="http://greentreesarborcareinc.com/wp-content/uploads/2014/01/image-placeholder.jpg">
</div>
