<% comments.each do |comment| %>  
    <div class="comments-show">
		<div class="comment">
			<div class="show-comment-panel">
			    <div class="comment-pic"><img src="/assets/profile_small.jpg" class="img-circle" alt="image"></div>
			    <div class="comment-txt">
					<img src="/assets/profile_small.jpg" class="img-circle" alt="image">
					<p class="date"><%=l(comment.updated_at, format: '%d %B %Y')%></p>
					<p><%= comment.body %><br></p>
					<a href="javascript:void(0);"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Reply</a>
			    </div>
			</div>

			<div class="reply-form">
				<%= form_for @new_comment do |f| %>
				    <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
				    <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
				    <%= f.hidden_field :comment_id, value: comment.id %>
				    <div class="field form-group">
					    <%= f.text_area :body, class: 'form-control' %>
				    </div>
				    <div class="field form-group">
					    <%= submit_tag "Post Reply", class: 'btn btn-primary' %>
				    </div>
				<% end %>
			</div>
		</div>
    <%= render partial: "comments/reply", locals: {comments: comment.children} %>
  </div>
<% end %>  
