<div class="row  comment-section">
	<div class="col-lg-8">
		<div class="tabs-area">
			<ul role="tablist" id="myTabs" class="nav nav-tabs">
				<li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#overview">Overview</a></li>
				<li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#race-details">Race Details</a></li>
				<li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#edit">Edit</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div aria-labelledby="home-tab" id="overview" role="tabpanel" class="tab-pane fade in active">
					<h2>14. Esslinger Zeitung Lauf</h2>
					<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
				</div>
				<div aria-labelledby="profile-tab" id="race-details" role="tabpanel" class="tab-pane fade">
					<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
				</div>
				<div aria-labelledby="profile-tab" id="edit" role="tabpanel" class="tab-pane fade">
					<p>Wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
				</div>
			</div>
		</div>

		<% @new_comment = Comment.build_from(result, current_user.id, "") %>
		<%= render partial: "comments/form" %>

		<div class="comments-container">
			<!--  this comments variable is set as empty variable as reply comment tempate needs comments variable, when comment variable is set dynamically we need to change this-->
		  <%= render partial: "comments/reply", locals: {comments: []} %>
		</div>
	</div>

	<%= render partial: "comments/google_ads" %>
</div>
