.container-fluid( data-ng-app='hello' )
  .panel.panel-success
    .panel-heading
      %h1( data-ng-if='name' )
        Hello, {{name}}
    .panel-body
      %form.form-inline
        .form-group
          %input.form-control( type='text' placeholder='Enter your name' data-ng-model='name' autofocus )
    .panel-body
      %div( data-ng-controller='graph1' )
        %nvd3( options='options' data='data' )

