<div class="footer-panel"><p class="text-center">Copyright RACEPACE &copy; 2016 </p>
<ul>
<li><a href="#">About</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Advertise</a></li>
<li><a href="#">Privacy Policy</a></li>
</ul>    
</div>


