.captcha= captcha_tag
.form-group
  = negative_label_tag @negative_captcha, :captcha, t('common.user.captcha')
  = negative_text_field_tag @negative_captcha, :captcha, autocomplete: "off", class: "form-control text-field-blank"

