<%= stylesheet_link_tag "slick" %>
<div class="wrapper wrapper-content">
	
	<div class="h-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">
					<a href="javascript:void(0);"><a href="#"> <img alt="image" class="" src="<%= image_path('logo.png') %>"> </a></a>
					
					<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<nav class="navbar-collapse collapse pull-right" id="navbar">
					<ul class="nav navbar-nav">
						<li><a href="#header">Home</a></li>
						<li><a href="#search">Search</a></li>
						<li><a href="#share">Share</a></li>
						<li><a href="#calendar">Calendar</a></li>
						<li><a href="#training">Training plans</a></li>
						<li><a href="#footer">Footer</a></li>
					</ul>
				</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-icon-area">
					<ul class="top-icon">
						<li>
							<span href="javascript:void(0);">
								<img alt="image" class="" src="<%= image_path('lens-color-icon.png') %>">
							</span>
							<h3>Search</h3>
							<p>Short description here</p>
							
						</li>
						<li>
							<span href="javascript:void(0);">
								<img alt="image" class="" src="<%= image_path('share-color-icon.png') %>">
							</span>
							<h3>Share</h3>
							<p>Short description here</p>
							
						</li>
						<li>
							<span href="javascript:void(0);">
								<img alt="image" class="" src="<%= image_path('chart-color-icon.png') %>">
							</span>
							<h3>Improve</h3>
							<p>Short description here</p>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Search area -->
	<div class="search-wrapper" id="search">
		<span class="block-bg-abs-icon left-side"><img alt="image" class="" src="<%= image_path('bg-lens-icon.png') %>"></span>
		<div class="container">
			<div class="row">
				<span class="panel-top-icon"><img alt="image" class="" src="<%= image_path('top-lens-icon.png') %>"></span>
				<h3 class="block-panel-title">Search</h3>
				<p class="block-panel-txt">Find your race results and fill your personal RACEBOOK</p>
			<form>
				<input type="text" value="" placeholder="Enter your name..." />
				<input type="submit" value="Search" />
			</form>

			</div>
			<div class="row search-row">
				<h4>You have found <span class="search-result-found">3 results</span></h4>
			</div>
			<div class="row search-result">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-panel">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
								<span class="number-count-area">1</span>
								<img alt="image" class="" src="<%= image_path('user-pic.png') %>"></div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
								<h3>Nico Welling</h3>
								<span class="date">24-05-2016</span>
								<h2>Ultra-Monschau-Marathon</h2>
								<a href="http://esslingen.r.mikatming.de/2013" target="_blank">http://esslingen.r.mikatming.de/2013</a>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
								<ul class="search-tag-ul">
									<li>
										<a href="javascript:void(0);">.race-type</a>
									</li>
									<li>
										<a href="javascript:void(0);">.bike-time</a>
									</li>
									<li>
										<a href="javascript:void(0);">.swim-time</a>
									</li>
									<li>
										<a href="javascript:void(0);">.distance</a>
									</li>
									<li>
										<a href="javascript:void(0);">.run-time</a>
									</li>
									<li>
										<a href="javascript:void(0);">.total-time</a>
									</li>									
								</ul>
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-panel">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
								<span class="number-count-area">2</span>
								<img alt="image" class="" src="<%= image_path('user-pic.png') %>"></div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
								<h3>Nico Welling</h3>
								<span class="date">24-05-2016</span>
								<h2>Ultra-Monschau-Marathon</h2>
								<a href="http://esslingen.r.mikatming.de/2013" target="_blank">http://esslingen.r.mikatming.de/2013</a>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
								<ul class="search-tag-ul">
									<li>
										<a href="javascript:void(0);">.race-type</a>
									</li>
									<li>
										<a href="javascript:void(0);">.bike-time</a>
									</li>
									<li>
										<a href="javascript:void(0);">.swim-time</a>
									</li>
									<li>
										<a href="javascript:void(0);">.distance</a>
									</li>
									<li>
										<a href="javascript:void(0);">.run-time</a>
									</li>
									<li>
										<a href="javascript:void(0);">.total-time</a>
									</li>									
								</ul>
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-panel">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
								<span class="number-count-area">3</span>
								<img alt="image" class="" src="<%= image_path('user-pic.png') %>"></div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
								<h3>Nico Welling</h3>
								<span class="date">24-05-2016</span>
								<h2>Ultra-Monschau-Marathon</h2>
								<a href="http://esslingen.r.mikatming.de/2013" target="_blank">http://esslingen.r.mikatming.de/2013</a>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
								<ul class="search-tag-ul">
									<li>
										<a href="javascript:void(0);">.race-type</a>
									</li>
									<li>
										<a href="javascript:void(0);">.bike-time</a>
									</li>
									<li>
										<a href="javascript:void(0);">.swim-time</a>
									</li>
									<li>
										<a href="javascript:void(0);">.distance</a>
									</li>
									<li>
										<a href="javascript:void(0);">.run-time</a>
									</li>
									<li>
										<a href="javascript:void(0);">.total-time</a>
									</li>									
								</ul>
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
	
	<!-- Share area -->
	<div class="share-wrapper" id="share">
	<span class="block-bg-abs-icon"><img alt="image" class="" src="<%= image_path('bg-share-icon.png') %>"></span>
		<div class="container">
			<div class="row">
				<a href="#calendar" class="block-mid-abs-icon"><img alt="image" class="" src="<%= image_path('white-scroll-icon.png') %>"></a>
				<span class="panel-top-icon"><img alt="image" class="" src="<%= image_path('top-share-icon.png') %>"></span>
				<h3 class="block-panel-title text-white">Share</h3>
				<p class="block-panel-txt text-white">Share your RACEBOOK, follow your heroes and get motivated</p>
				<section class="center slider">
					<div>
						<img alt="image" class="" src="<%= image_path('banner-image.png') %>">
					</div>
					<div>
						<img alt="image" class="" src="<%= image_path('banner-image.png') %>">
					</div>
					<div>
						<img alt="image" class="" src="<%= image_path('banner-image.png') %>">
					</div>
					<div>
						<img alt="image" class="" src="<%= image_path('banner-image.png') %>">
					</div>
					<div>
						<img alt="image" class="" src="<%= image_path('banner-image.png') %>">
					</div>
					<div>
						<img alt="image" class="" src="<%= image_path('banner-image.png') %>">
					</div>
					<div>
						<img alt="image" class="" src="<%= image_path('banner-image.png') %>">
					</div>
					<div>
						<img alt="image" class="" src="<%= image_path('banner-image.png') %>">
					</div>
					<div>
						<img alt="image" class="" src="<%= image_path('banner-image.png') %>">
					</div>
				</section>
			</div>
		</div>
	</div>
	
	<!-- Calendar area -->
	<div class="calendar-wrapper" id="calendar">
		<span class="block-bg-abs-icon"><img alt="image" class="" src="<%= image_path('bg-calendar-icon.png') %>"></span>
		<div class="container">
			<div class="row">
				<a href="#training" class="block-mid-abs-icon"><img alt="image" class="" src="<%= image_path('black-scroll-icon.png') %>"></a>
				<span class="panel-top-icon"><img alt="image" class="" src="<%= image_path('top-calendar-icon.png') %>"></span>
				<h3 class="block-panel-title text-white">Challenge Calculator</h3>
				<p class="block-panel-txt text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			</div>
		</div>
	</div>
	
	<!-- Training area -->
	<div class="wrapper training-wrapper" id="training">
		<span class="block-bg-abs-icon"><img alt="image" class="" src="<%= image_path('bg-user-icon.png') %>"></span>
		<div class="container">
			<div class="row">
				<a href="#footer" class="block-mid-abs-icon"><img alt="image" class="" src="<%= image_path('orange-scroll-icon.png') %>"></span></a>
				<span class="panel-top-icon"><img alt="image" class="" src="<%= image_path('top-user-icon.png') %>"></span>
				<h3 class="block-panel-title">Training Plans</h3>
				<p class="block-panel-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h3>Running</h3>
					<ul class="training-events-ul">
						<li>
							<img alt="image" class="" src="<%= image_path('running-pic.png') %>">
							<h4>Plan#1</h4>
							<a href="javascript:void(0);">More Details</a>
						</li>
						<li>
							<img alt="image" class="" src="<%= image_path('running-pic.png') %>">
							<h4>Plan#2</h4>
							<a href="javascript:void(0);">More Details</a>
						</li>
						<li>
							<img alt="image" class="" src="<%= image_path('running-pic.png') %>">
							<h4>Plan#3</h4>
							<a href="javascript:void(0);">More Details</a>
						</li>
					</ul>
					<a href="javascript:void(0);" class="view-plan-btn">View All Plans</a> 
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h3>Triathlon</h3>
					<ul class="training-events-ul">
						<li>
							<img alt="image" class="" src="<%= image_path('running-pic.png') %>">
							<h4>Plan#1</h4>
							<a href="javascript:void(0);">More Details</a>
						</li>
						<li>
							<img alt="image" class="" src="<%= image_path('running-pic.png') %>">
							<h4>Plan#2</h4>
							<a href="javascript:void(0);">More Details</a>
						</li>
						<li>
							<img alt="image" class="" src="<%= image_path('running-pic.png') %>">
							<h4>Plan#3</h4>
							<a href="javascript:void(0);">More Details</a>
						</li>
					</ul>
					<a href="javascript:void(0);" class="view-plan-btn">View All Plans</a> 
				</div>
			</div>
		</div>
	</div>
	
	<!-- Footer area -->
	<div class="wrapper f-wrapper" id="footer">
		<span class="block-bg-abs-icon"><img src="images/bg-footer-icon.png" alt="" /></span>
		<div class="container">
			<div class="row">
				<span class="foot-block-mid-abs-icon"><a href="#" id="toTop"><img alt="image" class="" src="<%= image_path('white-top-icon.png') %>"></a></span>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs 12">
					<a href="/"><img alt="image" class="" src="<%= image_path('foot-logo.png') %>"></a>
					<p class="copyright">Copyright 2016 - All rights reseved</p>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs 12">
					<h3>COMPANY</h3>
					<ul class="company-ul">
						<li><a href="javascript:void(0);">Getting Started</a></li>
						<li><a href="javascript:void(0);">Features</a></li>
						<li><a href="javascript:void(0);">Documentation</a></li>
						<li><a href="javascript:void(0);">Licensing</a></li>
						<li><a href="javascript:void(0);">About</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs 12">
					<h3>CONTACT US</h3>
					<ul class="contact-ul">
					<li><i class="fa fa-envelope" aria-hidden="true"></i> info@racespace.com</li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:123456789">123-456-789</a></li>
					<li><i class="fa fa-globe" aria-hidden="true"></i> <a href="www.racespace.com">www.racespace.com</a></li>
					</ul>
					<ul class="social-ul">
					<li><a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="javascript:void(0);"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<% if false %>
	<div class="page-inner">
		<div class="bg-img"></div>
		<div class="logo pull-left">
			<a href="#"> <img alt="image" class="" src="<%= image_path('Logo.png') %>"> </a>
		</div>
		<div class="right-head pull-right">
			<ul>
				<% if current_user.present? %>
				    <%=link_to t('common.user.sign_out'), destroy_user_session_path, method: :delete %>
				<%
				else
				%>
				   <li><%= link_to t('common.user.sign_up'), new_user_registration_path %></li>
				   <li class="rt-login"><%= link_to t('common.user.sign_in'), new_user_session_path %></li>
				<% end %>
			</ul>
		</div>
		<div class="banner-content">
			<p>Find Results by Name</p>
			<span class="input-bg">
				<form action="/imported_race_results/search" accept-charset="UTF-8" method="get">
					<input name="utf8" type="hidden" value="✓">
					<input type="text" name="query">
					<button type="submit" class=""><img alt="image" class="" src="<%= image_path('Search-Icon.png') %>"></button>
				</form>	
			</span>
		</div>
	</div>
	

	<div class="content-copy">
		<section  class="container features">
		    <div class="row">
		        <div class="col-lg-12 text-center">
		            <div class="navy-line"></div>
		            <h1>Over 40+ unique view<br/> <span class="navy"> with many custom components</span> </h1>
		            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-md-3 text-center wow fadeInLeft">
		            <div>
		                <i class="fa fa-mobile features-icon"></i>
		                <h2>Full responsive</h2>
		                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
		            </div>
		            <div class="m-t-lg">
		                <i class="fa fa-bar-chart features-icon"></i>
		                <h2>6 Charts Library</h2>
		                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
		            </div>
		        </div>
		        <div class="col-md-6 text-center  wow zoomIn">
		            <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
		        </div>
		        <div class="col-md-3 text-center wow fadeInRight">
		            <div>
		                <i class="fa fa-envelope features-icon"></i>
		                <h2>Mail pages</h2>
		                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
		            </div>
		            <div class="m-t-lg">
		                <i class="fa fa-google features-icon"></i>
		                <h2>AngularJS version</h2>
		                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
		            </div>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-lg-12 text-center">
		            <div class="navy-line"></div>
		            <h1>Discover great feautres</h1>
		            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
		        </div>
		    </div>
		    <div class="row features-block">
		        <div class="col-lg-6 features-text wow fadeInLeft">
		            <small>INSPINIA</small>
		            <h2>Perfectly designed </h2>
		            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
		            <a href="" class="btn btn-primary">Learn more</a>
		        </div>
		        <div class="col-lg-6 text-right wow fadeInRight">
		            <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-right">
		        </div>
		    </div>
		</section>

		<section id="team" class="gray-section team">
		    <div class="container">
		        <div class="row m-b-lg">
		            <div class="col-lg-12 text-center">
		                <div class="navy-line"></div>
		                <h1>Our Team</h1>
		                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-sm-4 wow fadeInLeft">
		                <div class="team-member">
		                    <img src="<%= image_path('landing/avatar3.jpg') %>" class="img-responsive img-circle img-small" alt="">
		                    <h4><span class="navy">Amelia</span> Smith</h4>
		                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
		                    <ul class="list-inline social-icon">
		                        <li><a href="#"><i class="fa fa-twitter"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-facebook"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		            <div class="col-sm-4">
		                <div class="team-member wow zoomIn">
		                    <img src="<%= image_path('landing/avatar1.jpg') %>" class="img-responsive img-circle" alt="">
		                    <h4><span class="navy">John</span> Novak</h4>
		                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
		                    <ul class="list-inline social-icon">
		                        <li><a href="#"><i class="fa fa-twitter"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-facebook"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		            <div class="col-sm-4 wow fadeInRight">
		                <div class="team-member">
		                    <img src="<%= image_path('landing/avatar2.jpg') %>" class="img-responsive img-circle img-small" alt="">
		                    <h4><span class="navy">Peter</span> Johnson</h4>
		                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
		                    <ul class="list-inline social-icon">
		                        <li><a href="#"><i class="fa fa-twitter"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-facebook"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
		                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
		            </div>
		        </div>
		    </div>
		</section>

		<section class="features">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12 text-center">
		                <div class="navy-line"></div>
		                <h1>Even more great feautres</h1>
		                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
		            </div>
		        </div>
		        <div class="row features-block">
		            <div class="col-lg-3 features-text wow fadeInLeft">
		                <small>INSPINIA</small>
		                <h2>Perfectly designed </h2>
		                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
		                <a href="" class="btn btn-primary">Learn more</a>
		            </div>
		            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
		                <img src="<%= image_path('landing/iphone.jpg') %>" class="img-responsive" alt="dashboard">
		            </div>
		            <div class="col-lg-3 features-text text-right wow fadeInRight">
		                <small>INSPINIA</small>
		                <h2>Perfectly designed </h2>
		                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
		                <a href="" class="btn btn-primary">Learn more</a>
		            </div>
		        </div>
		    </div>

		</section>

		<section class="timeline gray-section">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12 text-center">
		                <div class="navy-line"></div>
		                <h1>Our workflow</h1>
		                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
		            </div>
		        </div>
		        <div class="row features-block">

		            <div class="col-lg-12">
		                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
		                    <div class="vertical-timeline-block">
		                        <div class="vertical-timeline-icon navy-bg">
		                            <i class="fa fa-briefcase"></i>
		                        </div>

		                        <div class="vertical-timeline-content">
		                            <h2>Meeting</h2>
		                            <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
		                            </p>
		                            <a href="#" class="btn btn-xs btn-primary"> More info</a>
		                            <span class="vertical-date"> Today <br/> <small>Dec 24</small> </span>
		                        </div>
		                    </div>

		                    <div class="vertical-timeline-block">
		                        <div class="vertical-timeline-icon navy-bg">
		                            <i class="fa fa-file-text"></i>
		                        </div>

		                        <div class="vertical-timeline-content">
		                            <h2>Decision</h2>
		                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
		                            <a href="#" class="btn btn-xs btn-primary"> More info</a>
		                            <span class="vertical-date"> Tomorrow <br/> <small>Dec 26</small> </span>
		                        </div>
		                    </div>

		                    <div class="vertical-timeline-block">
		                        <div class="vertical-timeline-icon navy-bg">
		                            <i class="fa fa-cogs"></i>
		                        </div>

		                        <div class="vertical-timeline-content">
		                            <h2>Implementation</h2>
		                            <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
		                            <a href="#" class="btn btn-xs btn-primary"> More info</a>
		                            <span class="vertical-date"> Monday <br/> <small>Jan 02</small> </span>
		                        </div>
		                    </div>

		                </div>
		            </div>

		        </div>
		    </div>

		</section>

		<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12 text-center wow zoomIn">
		                <i class="fa fa-comment big-icon"></i>
		                <h1>
		                    What our users say
		                </h1>
		                <div class="testimonials-text">
		                    <i>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</i>
		                </div>
		                <small>
		                    <strong>12.02.2014 - Andy Smith</strong>
		                </small>
		            </div>
		        </div>
		    </div>

		</section>

		<section class="comments gray-section" style="margin-top: 0">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12 text-center">
		                <div class="navy-line"></div>
		                <h1>What our partners say</h1>
		                <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
		            </div>
		        </div>
		        <div class="row features-block">
		            <div class="col-lg-4">
		                <div class="bubble">
		                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
		                </div>
		                <div class="comments-avatar">
		                    <a href="" class="pull-left">
		                        <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
		                    </a>
		                    <div class="media-body">
		                        <div class="commens-name">
		                            Andrew Williams
		                        </div>
		                        <small class="text-muted">Company X from California</small>
		                    </div>
		                </div>
		            </div>

		            <div class="col-lg-4">
		                <div class="bubble">
		                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
		                </div>
		                <div class="comments-avatar">
		                    <a href="" class="pull-left">
		                        <img alt="image" src="<%= image_path('landing/avatar1.jpg') %>">
		                    </a>
		                    <div class="media-body">
		                        <div class="commens-name">
		                            Andrew Williams
		                        </div>
		                        <small class="text-muted">Company X from California</small>
		                    </div>
		                </div>
		            </div>

		            <div class="col-lg-4">
		                <div class="bubble">
		                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
		                </div>
		                <div class="comments-avatar">
		                    <a href="" class="pull-left">
		                        <img alt="image" src="<%= image_path('landing/avatar2.jpg') %>">
		                    </a>
		                    <div class="media-body">
		                        <div class="commens-name">
		                            Andrew Williams
		                        </div>
		                        <small class="text-muted">Company X from California</small>
		                    </div>
		                </div>
		            </div>

		        </div>
		    </div>

		</section>

		<section class="features">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12 text-center">
		                <div class="navy-line"></div>
		                <h1>More and more extra great feautres</h1>
		                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-lg-5 col-lg-offset-1 features-text">
		                <small>INSPINIA</small>
		                <h2>Perfectly designed </h2>
		                <i class="fa fa-bar-chart big-icon pull-right"></i>
		                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
		            </div>
		            <div class="col-lg-5 features-text">
		                <small>INSPINIA</small>
		                <h2>Perfectly designed </h2>
		                <i class="fa fa-bolt big-icon pull-right"></i>
		                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-lg-5 col-lg-offset-1 features-text">
		                <small>INSPINIA</small>
		                <h2>Perfectly designed </h2>
		                <i class="fa fa-clock-o big-icon pull-right"></i>
		                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
		            </div>
		            <div class="col-lg-5 features-text">
		                <small>INSPINIA</small>
		                <h2>Perfectly designed </h2>
		                <i class="fa fa-users big-icon pull-right"></i>
		                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
		            </div>
		        </div>
		    </div>

		</section>
		<section id="pricing" class="pricing">
		    <div class="container">
		        <div class="row m-b-lg">
		            <div class="col-lg-12 text-center">
		                <div class="navy-line"></div>
		                <h1>App Pricing</h1>
		                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-lg-4 wow zoomIn">
		                <ul class="pricing-plan list-unstyled">
		                    <li class="pricing-title">
		                        Basic
		                    </li>
		                    <li class="pricing-desc">
		                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
		                    </li>
		                    <li class="pricing-price">
		                        <span>$16</span> / month
		                    </li>
		                    <li>
		                        Dashboards
		                    </li>
		                    <li>
		                        Projects view
		                    </li>
		                    <li>
		                        Contacts
		                    </li>
		                    <li>
		                        Calendar
		                    </li>
		                    <li>
		                        AngularJs
		                    </li>
		                    <li>
		                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
		                    </li>
		                </ul>
		            </div>

		            <div class="col-lg-4 wow zoomIn">
		                <ul class="pricing-plan list-unstyled selected">
		                    <li class="pricing-title">
		                        Standard
		                    </li>
		                    <li class="pricing-desc">
		                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
		                    </li>
		                    <li class="pricing-price">
		                        <span>$22</span> / month
		                    </li>
		                    <li>
		                        Dashboards
		                    </li>
		                    <li>
		                        Projects view
		                    </li>
		                    <li>
		                        Contacts
		                    </li>
		                    <li>
		                        Calendar
		                    </li>
		                    <li>
		                        AngularJs
		                    </li>
		                    <li>
		                        <strong>Support platform</strong>
		                    </li>
		                    <li class="plan-action">
		                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
		                    </li>
		                </ul>
		            </div>

		            <div class="col-lg-4 wow zoomIn">
		                <ul class="pricing-plan list-unstyled">
		                    <li class="pricing-title">
		                        Premium
		                    </li>
		                    <li class="pricing-desc">
		                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
		                    </li>
		                    <li class="pricing-price">
		                        <span>$160</span> / month
		                    </li>
		                    <li>
		                        Dashboards
		                    </li>
		                    <li>
		                        Projects view
		                    </li>
		                    <li>
		                        Contacts
		                    </li>
		                    <li>
		                        Calendar
		                    </li>
		                    <li>
		                        AngularJs
		                    </li>
		                    <li>
		                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		        <div class="row m-t-lg">
		            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
		                <p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <span class="navy">Various versions</span>  have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
		            </div>
		        </div>
		    </div>

		</section>

		<section id="contact" class="gray-section contact">
		    <div class="container">
		        <div class="row m-b-lg">
		            <div class="col-lg-12 text-center">
		                <div class="navy-line"></div>
		                <h1>Contact Us</h1>
		                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
		            </div>
		        </div>
		        <div class="row m-b-lg">
		            <div class="col-lg-3 col-lg-offset-3">
		                <address>
		                    <strong><span class="navy">RACEsPACE, GmbH</span></strong><br/>
		                    Ziellinienstraße 48<br/>
		                    Aachen,  52068<br/>
		                    <abbr title="Phone">P:</abbr> (123) 456-7890
		                </address>
		            </div>
		            <div class="col-lg-4">
		                <p class="text-color">
		                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
		                </p>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-lg-12 text-center">
		                <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
		                <p class="m-t-sm">
		                    Or follow us on social platform
		                </p>
		                <ul class="list-inline social-icon">
		                    <li><a href="#"><i class="fa fa-twitter"></i></a>
		                    </li>
		                    <li><a href="#"><i class="fa fa-facebook"></i></a>
		                    </li>
		                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
		                <p><strong>&copy; 2015 RACEsPACE GmbH</strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
		            </div>
		        </div>
		    </div>
		</section>
	</div>
	<% end %>

</div>
   
	<script type="text/javascript">	
		$(function() {
			$(window).scroll(function() {
				if($(this).scrollTop() >50) {
					$('.header').addClass("fixed");	
				} else {
					$('.header').removeClass("fixed");
				}
			});
		});
	</script> 
	<script type="text/javascript">
		$(function() {
			$(window).scroll(function() {
				if($(this).scrollTop() != 0) {
					$('#toTop').fadeIn();	
				} else {
					$('#toTop').fadeOut();
				}
			});
			$('#toTop').click(function() {
				$('body,html').animate({scrollTop:0},500);
			});	
		});
	</script>
	<script type="text/javascript">
		$(document).on('ready', function() {
			$('.center').slick({
				dots: true,
				infinite: true,
				centerMode: true,
				slidesToShow: 3,
				slidesToScroll: 3,
				centerPadding: '40px',
				responsive:
				[
					{
						breakpoint: 768,
						settings: {
							arrows: true,
							centerMode: true,
							centerPadding: '0px',
							slidesToShow: 3
						}
					},
					{
						breakpoint: 480,
						settings: {
							arrows: false,
							centerMode: true,
							centerPadding: '0px',
							slidesToShow: 1
						}
					}
			    ]
			});
		});
	</script>
