= render "devise/shared/header_panel"
-# bootstrap_devise_error_messages!
.panel.form_area
  .panel.panel-default
    .panel-heading
      %h4= t('.resend_unlock_instructions', :default => "Resend unlock instructions")
    .panel-body
      = bootstrap_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, html: { role: "form" } }) do |f|
        = f.email_field :email, autofocus: true
        = render 'devise/shared/captcha'
        = render 'devise/shared/negative_captcha'
        = f.primary t('.resend_unlock_instructions', :default => "Resend unlock instructions")
  = render "devise/shared/links"
= render "devise/shared/footer_panel"
