= simple_form_for(@metric) do |f|
  = f.error_notification

  .form-inputs
    = f.input :weight
    = f.input :sleep_hours
    = f.input :sleep_quality
    = f.input :rest_hr
    = f.input :max_hr
    = f.input :bmi
    = f.input :overall_feeling
    = f.input :description

  .form-actions
    = f.button :submit
