%h1 Listing metrics

%table
  %thead
    %tr
      %th User
      %th Weight
      %th Sleep hours
      %th Sleep quality
      %th Rest hr
      %th Max hr
      %th Bmi
      %th Overall feeling
      %th Description
      %th
      %th
      %th

  %tbody
    - @metrics.each do |metric|
      %tr
        %td= metric.user
        %td= metric.weight
        %td= metric.sleep_hours
        %td= metric.sleep_quality
        %td= metric.rest_hr
        %td= metric.max_hr
        %td= metric.bmi
        %td= metric.overall_feeling
        %td= metric.description
        %td= link_to 'Show', metric
        %td= link_to 'Edit', edit_metric_path(metric)
        %td= link_to 'Destroy', metric, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Metric', new_metric_path
