%p#notice= notice

%p
  %b User:
  = @metric.user
%p
  %b Weight:
  = @metric.weight
%p
  %b Sleep hours:
  = @metric.sleep_hours
%p
  %b Sleep quality:
  = @metric.sleep_quality
%p
  %b Rest hr:
  = @metric.rest_hr
%p
  %b Max hr:
  = @metric.max_hr
%p
  %b Bmi:
  = @metric.bmi
%p
  %b Overall feeling:
  = @metric.overall_feeling
%p
  %b Description:
  = @metric.description

= link_to 'Edit', edit_metric_path(@metric)
\|
= link_to 'Back', metrics_path
