<% title "Teams" %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Teams board</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>App views</a>
            </li>
            <li class="active">
                <strong>Teams board</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <% Group.all.each do |group|%>
          <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">NEW</span>
                    <h5><%="#{group.name} fixme members)"%></h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <!--fixme-->
                        <%User.limit(10).each do |user| %>
                            <a href="#"><img alt="member" class="img-circle" src="<%= image_path('a'+rand(1..8).to_s+'.jpg') %>"></a>
                        <%end%>    
                        <!--fixme-->
                        <%User.limit(10).each do |user| %>
                            <%=user.email.split('@')[0]%>
                            <br>
                        <%end%>
                    </div>
                    <h4>Info about Team</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
                    </p>
                    <div>
                        <span>Status of collected vdot point:</span>
                        <div class="stat-percent">48%</div>
                        <div class="progress progress-mini">
                            <div style="width: 48%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">Total km</div>
                            12000
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            4th
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">Vdot-Level</div>
                            91.3 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <%end%>    
    </div>


</div>