<% title "Athletes" %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Athletes</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li>
            App Views
        </li>
        <li class="active">
            <strong>Contacts</strong>
        </li>
    </ol>
</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

    <% User.all.order('id DESC').each do |user| %>

    <div class="col-lg-4">
        <div class="contact-box">
            <div class="col-sm-4">
                <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a'+(rand(7)+1).to_s+'.jpg') %>">
                    <div class="m-t-xs font-bold">Graphics designer</div>
                    <!--a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a-->
                    <% @user = user %>
                    <%= render 'layouts/follow_user', :locals => {:user => user} if signed_in? %>
                </div>
            </div>
            <div class="col-sm-8">
                <%if user.firstname.nil? or user.lastname.nil? %>
                    <h3><strong><%=link_to "#{user.email.split('@')[0].split('.')[0].titleize} #{user.email.split('@')[0].split('.')[-1].titleize}", user %></strong></h3>
                <%else%>
                    <h3><strong><%=link_to "#{user.firstname} #{user.lastname}", user%></strong></h3>
                <%end%>
                <p><%=link_to user.email, user%></p>
                <address>
                    <strong>Twitter, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
 
    <%end%>

</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function () {

    $('.contact-box').each(function () {
        animationHover(this, 'pulse');
    });

});

</script>

<% end %>

