.panel.panel-default
  .panel-heading
    %h4= t('common.roles.edit_roles')
  .panel-body
    = bootstrap_form_for @user, url: { action: 'update_roles' } do |f|
      = f.collection_check_boxes(:role_ids, Role.all, :id, :friendly_name)
      = f.submit '[# Submit #]', class: "btn btn-primary"

