<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Athlete Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
            </li>
           <li class="active">
                <strong>Athlete Profile</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


<div class="row m-b-lg m-t-lg">
    <div class="col-md-6">

        <div class="profile-image">
            <img src="<%= image_path('a4.jpg') %>" class="img-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">
                    <%if @user.firstname.nil? or @user.lastname.nil? %>
                        <%="#{@user.email.split('@')[0].split('.')[0].titleize} #{@user.email.split('@')[0].split('.')[-1].titleize}"%>
                    <%else%>
                        <%="#{@user.firstname} #{@user.lastname}"%>
                    <%end%>
                    </h2>
                    <h4>Triathlete</h4>
                    <small>
                        There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered alteration in some form Ipsum available.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <table class="table small m-b-xs">
            <tbody>
            <tr>
                <td>
                    <strong><%=@user.followers.count%></strong> Follower
                </td>
                <td>
                    <strong><%=@user.follow_count%></strong> Following
                </td>

            </tr>
            <tr>
                <td>
                    <strong>3</strong> Teams
                </td>
                <td>
                    <strong>5</strong> Challenges
                </td>
            </tr>
            <tr>
                <td>
                    <strong>54</strong> VDOT
                </td>
                <td>
                    <strong>14</strong> Races
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <small>Total Racemiles</small>
        <h2 class="no-margins">1206km</h2>
        <div id="sparkline1"></div>
    </div>


</div>
<div class="row">

    <div class="col-lg-3">

        <div class="ibox">
            <div class="ibox-content">
                <h3>
                    <%if @user.firstname.nil? or @user.lastname.nil? %>
                        <%="#{@user.email.split('@')[0].split('.')[0].titleize} #{@user.email.split('@')[0].split('.')[-1].titleize}"%>
                    <%else%>
                        <%="#{@user.firstname} #{@user.lastname}"%>
                    <%end%>
                </h3>

                <p class="small">
                    There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered alteration in some form, by injected humour, or randomised words which don't.
                    <br/>
                    <br/>
                    If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing
                </p>

                <p class="small font-bold">
                    <span><i class="fa fa-circle text-navy"></i> Online status</span>
                </p>

            </div>
        </div>

        <div class="ibox">
            <div class="ibox-content">
                <h3>Followers and friends</h3>
                <p class="small">
                    If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing
                </p>
                <div class="user-friends">
                    <a href=""><img alt="image" class="img-circle" src="<%= image_path('a3.jpg') %>"></a>
                    <a href=""><img alt="image" class="img-circle" src="<%= image_path('a1.jpg') %>"></a>
                    <a href=""><img alt="image" class="img-circle" src="<%= image_path('a2.jpg') %>"></a>
                    <a href=""><img alt="image" class="img-circle" src="<%= image_path('a4.jpg') %>"></a>
                    <a href=""><img alt="image" class="img-circle" src="<%= image_path('a5.jpg') %>"></a>
                    <a href=""><img alt="image" class="img-circle" src="<%= image_path('a6.jpg') %>"></a>
                    <a href=""><img alt="image" class="img-circle" src="<%= image_path('a7.jpg') %>"></a>
                    <a href=""><img alt="image" class="img-circle" src="<%= image_path('a8.jpg') %>"></a>
                    <a href=""><img alt="image" class="img-circle" src="<%= image_path('a2.jpg') %>"></a>
                    <a href=""><img alt="image" class="img-circle" src="<%= image_path('a1.jpg') %>"></a>
                </div>
            </div>
        </div>

        <div class="ibox">
            <div class="ibox-content">
                <h3>Personal friends</h3>
                <ul class="list-unstyled file-list">
                    <li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>
                    <li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>
                    <li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
                    <li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>
                    <li><a href=""><i class="fa fa-file-powerpoint-o"></i> Presentation.pptx</a></li>
                    <li><a href=""><i class="fa fa-file"></i> 10_08_2015.docx</a></li>
                </ul>
            </div>
        </div>

        <div class="ibox">
            <div class="ibox-content">
                <h3>Private message</h3>

                <p class="small">
                    Send private message to Alex Smith
                </p>

                <div class="form-group">
                    <label>Subject</label>
                    <input type="email" class="form-control" placeholder="Message subject">
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" placeholder="Your message" rows="3"></textarea>
                </div>
                <button class="btn btn-primary btn-block">Send</button>

            </div>
        </div>

    </div>

    <div class="col-lg-5">

        <div class="social-feed-box">

            <div class="pull-right social-action dropdown">
                <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu m-t-xs">
                    <li><a href="#">Config</a></li>
                </ul>
            </div>
            <div class="social-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('a1.jpg') %>">
                </a>
                <div class="media-body">
                    <a href="#">
                        Andrew Williams
                    </a>
                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                </div>
            </div>
            <div class="social-body">
                <p>
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    default model text.
                </p>

                <div class="btn-group">
                    <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                </div>
            </div>
            <div class="social-footer">
                <div class="social-comment">
                    <a href="" class="pull-left">
                        <img alt="image" src="<%= image_path('a1.jpg') %>">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                        <br/>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                        <small class="text-muted">12.06.2014</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="" class="pull-left">
                        <img alt="image" src="<%= image_path('a2.jpg') %>">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        Making this the first true generator on the Internet. It uses a dictionary of.
                        <br/>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                        <small class="text-muted">10.07.2014</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="" class="pull-left">
                        <img alt="image" src="<%= image_path('a3.jpg') %>">
                    </a>
                    <div class="media-body">
                        <textarea class="form-control" placeholder="Write comment..."></textarea>
                    </div>
                </div>

            </div>

        </div>

        <div class="social-feed-box">

            <div class="pull-right social-action dropdown">
                <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu m-t-xs">
                    <li><a href="#">Config</a></li>
                </ul>
            </div>
            <div class="social-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('a6.jpg') %>">
                </a>
                <div class="media-body">
                    <a href="#">
                        Andrew Williams
                    </a>
                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                </div>
            </div>
            <div class="social-body">
                <p>
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    default model text.
                </p>
                <p>
                    Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    default model text.
                </p>
                <img src="<%= image_path('gallery/3.jpg') %>" class="img-responsive">
                <div class="btn-group">
                    <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                </div>
            </div>
            <div class="social-footer">
                <div class="social-comment">
                    <a href="" class="pull-left">
                        <img alt="image" src="<%= image_path('a1.jpg') %>">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                        <br/>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                        <small class="text-muted">12.06.2014</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="" class="pull-left">
                        <img alt="image" src="<%= image_path('a2.jpg') %>">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        Making this the first true generator on the Internet. It uses a dictionary of.
                        <br/>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                        <small class="text-muted">10.07.2014</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="" class="pull-left">
                        <img alt="image" src="<%= image_path('a8.jpg') %>">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        Making this the first true generator on the Internet. It uses a dictionary of.
                        <br/>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                        <small class="text-muted">10.07.2014</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="" class="pull-left">
                        <img alt="image" src="<%= image_path('a3.jpg') %>">
                    </a>
                    <div class="media-body">
                        <textarea class="form-control" placeholder="Write comment..."></textarea>
                    </div>
                </div>

            </div>

        </div>




    </div>
    <div class="col-lg-4 m-b-lg">
        <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-briefcase"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Meeting</h2>
                    <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                    </p>
                    <a href="#" class="btn btn-sm btn-primary"> More info</a>
                                    <span class="vertical-date">
                                        Today <br>
                                        <small>Dec 24</small>
                                    </span>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon blue-bg">
                    <i class="fa fa-file-text"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Send documents to Mike</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                    <a href="#" class="btn btn-sm btn-success"> Download document </a>
                                    <span class="vertical-date">
                                        Today <br>
                                        <small>Dec 24</small>
                                    </span>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon lazur-bg">
                    <i class="fa fa-coffee"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Coffee Break</h2>
                    <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                    <a href="#" class="btn btn-sm btn-info">Read more</a>
                    <span class="vertical-date"> Yesterday <br><small>Dec 23</small></span>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon yellow-bg">
                    <i class="fa fa-phone"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Phone with Jeronimo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                    <span class="vertical-date">Yesterday <br><small>Dec 23</small></span>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-comments"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Chat with Monica and Sandra</h2>
                    <p>Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
                    <span class="vertical-date">Yesterday <br><small>Dec 23</small></span>
                </div>
            </div>
        </div>

    </div>

</div>

</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 48], {
        type: 'line',
        width: '100%',
        height: '50',
        lineColor: '#1ab394',
        fillColor: "transparent"
    });


});

</script>

<% end %>

