-# bootstrap_devise_error_messages!
.panel.panel-default
  .panel-heading
    %h4= t('.change_your_password', :default => 'Change your password')
  .panel-body
    = bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, role: "form" }) do |f|
      = f.hidden_field :reset_password_token
      = f.password_field :password, autocomplete: "off"
      = f.password_field :password_confirmation, autocomplete: "off"
      = f.primary t('.change_my_password', :default => 'Change my password')
= render "devise/shared/links"
