= render "devise/shared/header_panel"
-# bootstrap_devise_error_messages!
.panel.form_area
  .panel.panel-default
    .panel-heading
      %h4= t('.forgot_your_password', :default => 'Forgot your password?')
    .panel-body
      = bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form" }) do |f|
        = f.email_field :email, autofocus: true
        = render 'devise/shared/captcha'
        = render 'devise/shared/negative_captcha'
        = f.primary t('.send_me_reset_password_instructions', :default => "Send me reset password instructions")
  = render "devise/shared/links"
= render "devise/shared/footer_panel"
