= simple_form_for @trainingplan do |f|
  = f.input :tpracedate
  = f.input :tpracetime
  = f.input :tpunitsperweek
  = f.button :submit

.loginColumns.animated.fadeInDown
  .row
    .col-md-6
      %h2
        .font-bold  Welcome to RACEsPACE
        %small I can't tell you why but I know for shure that this is exactly the tool which all enduance athletes were waiting for.
    .col-md-6
      .ibox-content
      = simple_form_for @trainingplan do |f|
        = f.input :tpracedate
        = f.input :tpracetime
        = f.input :tpunitsperweek
        = f.button :submit
  %hr
  .row
    .col-md-6 Copyright RACEsPACE GmbH
    .col-md-6.text.right.small © 2015-2016