<div id="create_event_dialog" class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
     <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Create Event</h3>
    </div>
</div>
<div id="event_desc_dialog" class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true"></div>


<div id="createEventModal" class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel1">Create Event</h3>
    </div>
    <div class="modal-body">
            <%= form_tag "/trainingplan/events" do%>
                <%= hidden_field_tag "event[ev_id]", Workout.last && Workout.last.id %>
                <%= hidden_field_tag "event[ev_type]", Workout.last && Workout.last.class.name %>
                <%= hidden_field_tag "eventStartTime"%>
                <%= hidden_field_tag "eventEndTime"%>
                <%= hidden_field_tag "eventAllDay"%>
                <%= text_area_tag "eventTitle"%>
                <%= text_area_tag "eventDescription"%>
                <%= hidden_field_tag "event[all_day]", true%>
                <div class="form-group" id="data_1">
                    <label class="font-noraml">Date</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/04/2014">
                    </div>
                </div>
                <%= hidden_field_tag "event[starttime]", (DateTime.now).to_s(:db)  %>
                <%= hidden_field_tag "event[endtime]", (DateTime.now+1.hour).to_s(:db)  %>
                <%= hidden_field_tag "event[period]", "Does not repeat" %>
                <%= text_area_tag "event[title]"%>
                <%= text_area_tag "event[description]"%>
                <%= select_tag "trainingplan_id", options_for_select(@my_trainingplans.collect{ |tp| [User.find_by_id(tp.user_id).email,tp.id]}) %>
             <%= submit_tag "submitButton"%>
            <% end %>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
    </div>
</div>


<div class="modal inmodal" id="editshowEventModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h3 id="modalTitle" class="modal-title"></h3>
                <small class="font-bold">Create or edit your workout.</small>
            </div>
            <div class="modal-body">
                <h4 id="eventDesc" class="event-desc"></h4>
                <h4 id="startTime" class="start-time"></h4>
                <h4 id="endTime" class="end-time"></h4>
                <h4 id="eventID" class="event_id"></h4>
                <h4 id="eventUrl" class="event_url"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div id="uploadWorkoutModal" class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel1">Upload workout/activity files</h3>
    </div>
    <div class="modal-body">
        <%= form_tag "/workouts", :multipart => true do%>
            <%= file_field_tag "workout[workout_file]" %>
        <%= submit_tag "Upload"%>
        <% end %>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
    </div>
</div>

 
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Trainingplan</h2>
        <ol class="breadcrumb">
			<li class="active">
				<strong>Trainingplan</strong>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content">
<div class="row animated fadeInDown">
    <div class="col-lg-3">


       <div class="ibox float-e-margins">
            <div class="ibox-title back-change">
                <h5>Select plans to show</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <div id='select_trainingplan'>
                    <%= form_tag trainingplans_path, :method => :get do %>
                      <ul class="unstyled">
                        <% @my_trainingplans.each do |trainingplan| %>
                         <li>
                            <%= check_box_tag "show_ids[]", trainingplan.id, trainingplan.show  %>
                            <%= hidden_field_tag "trainingplan_ids[]", trainingplan.id  %>
                            <%= color_field_tag "trainingplan_colors[]", trainingplan.color %>
                            <%= "ID#{trainingplan.id} #{User.find_by_id(trainingplan.user_id).email.split('@')[0]}"%>
                            <%end%>
                         </li>
                      <%= submit_tag "Select plans"  %>
                      </ul>
                    <% end %>
                </div>
            </div>
        </div>




        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Training Units</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <div id='external-events'>
                    <p>Drag a event and drop into callendar.</p>
                    <% Workout.last && Trainingplan.last.workout.includes(:sport_type).each do |workout| %>
                      <% case workout.sport_type.description %>
                      <% when "Swim"%>
                        <div class='external-event swim-workout-event'><%=workout.title%></div>
                      <% when "Bike"%>
                        <div class='external-event bike-workout-event'><%=workout.title%></div>
                      <% when "Run"%>
                        <div class='external-event run-workout-event'><%=workout.title%></div>
                      <% end %>
                    <% end %>
                    <p class="m-t">
                         <input type='checkbox' id='drop-remove' class="i-checks" checked /> <label for='drop-remove'>remove after drop</label>
                    </p>
                </div>
            </div>
        </div>
     </div>
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Personal Trainingplan</h5>
                
                <a data-toggle="modal" class="btn-xs btn-primary" href="#uploadWorkoutModal"><i class="fa fa-upload"></i>Upload activities</a>
                  
                <div class="dropdown addCalendarItem">
                    <a data-toggle="dropdown" class="btn-xs btn-primary" href="#">Add calendar item</a>
                
                    
                    <ul class="dropdown-menu m-t-xs">
                        <li selected disabled>Select item to add...</li>
                        <li><a href="">Goal</a></li>
                        <li><a href="">Training</a></li>
                        <li><a href="">Manual activity</a>
                        <li><a href="">Note</a></li>
                        <li><a href="">Rest heartrate</a>
                        <li><a data-toggle="modal" class="btn-xs btn-primary" href="#addWeightModal"><i class="fa fa-tachometer"></i> Weight</a>
                            <div id="addWeightModal" class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h3>Add weight</h3>
                                </div>
                                <div class="modal-body">
                                    <% if current_user %>
                                        <% @metric = current_user.metrics.new %>
                                        <%= render '/metrics/form'%>
                                    <% else %>
                                        Please login to add user metrics
                                    <% end %>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                         <%= form_tag trainingplans_path, :method => :get do %>
                        <% @my_trainingplans.each do |trainingplan| %>
                         <li>
                            <%= check_box_tag "show_ids[]", trainingplan.id, trainingplan.show  %>
                            <%= hidden_field_tag "trainingplan_ids[]", trainingplan.id  %>
                            <%= color_field_tag "trainingplan_colors[]", trainingplan.color %>
                            <%= "ID#{trainingplan.id} #{User.find_by_id(trainingplan.user_id).email.split('@')[0]}"%>
                            <%end%>
                         </li>
                      <%= submit_tag "Select plans"  %>
                      </ul>
                    <% end %>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">
        
        $(document).ready(function() {

            $('#data_1 .input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('#createFullcalendarEngineEvent').click(function(event) {
                FullcalendarEngine.Form.display()
                event.preventDefault();
            });

            // initialize the external events
            $('#external-events div.external-event').each(function () {
            //$('#external-events .fc-event').each(function() {
              // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    description: $.trim($(this).text()), // use the element's text as the event title
                    starttime: $.trim("2015-08-11 18:25:26 UTC"), //fixme
                    endtime: $.trim("2015-08-11 18:25:26 UTC"), //fixme 
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 1111999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });

        // initialize the calendar
        var options = {
            //theme: true,
            weekends: true,
            //eventBackgroundColor: "red",
            header: {
            left:   'prev,next today',
            center: 'title',
            right:  'month, agendaWeek, agendaDay'
                    },
            //dayClick: function() {
            //   alert('a day has been clicked!');
            //    },
            eventClick:  function(event, jsEvent, view) {
                //FullcalendarEngine.Form.display()
                //event.preventDefault();
                $('#modalTitle').html(event.title);
                $('#eventDesc').html(event.description);
                $('#eventID').html(event.id);
                $('#eventUrl').attr('href',event.url);
                $("#startTime").html(moment(event.start).format('MMM Do h:mm A'));
                $("#endTime").html(moment(event.end).format('MMM Do h:mm A'));
                $('#editshowEventModal').modal();
            },        
            defaultView: 'month',
            //height: 500,
            slotMinutes: 15,
            dragOpacity: 0.5,
            selectable: true,
            firstDay: 1, //fixme and make depending on lang
            timeFormat: "h:mm t{ - h:mm t}",
            editable: true,
            select: function(start, end, allDay) {
                 $('#createEventModal #eventStartTime').val(start);
                 $('#createEventModal #eventEndTime').val(end);
                 $('#createEventModal #eventAllDay').val(allDay);
                 $('#createEventModal #eventTitle').val(eventTitle);
                 $('#createEventModal #eventDescription').val(eventDescription);
                 $('#createEventModal').modal('show');
              },
            droppable: true, // this allows things to be dropped onto the calendar
            drop: function() {
                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }
            }
       };
    
    $('.calendar').fullCalendar($.extend(full_calendar_options,options));
    });
   
  </script>

<% end %>
