.loginColumns.animated.fadeInDown
  .row
    .col-md-6
      %h2
        .font-bold  Get your personal RACEsPACE trainingplan
        %small Bla bla bla bla blal la lwell valelb lbal.
    .col-md-6
      .ibox-content
      = simple_form_for @trainingplan do |f|
        %form#loginform.form-horizontal{role: "form"}
          .input-group{style: "margin-bottom: 25px"}
            %span.input-group-addon
            = f.input :tpracetime, :required => true, label: false, placeholder: '12000'
          .input-group{style: "margin-bottom: 25px"}
            %span.input-group-addon
            = f.input :tpunitsperweek, :required => true, label: false, placeholder: '4'
          .input-group.date
            %data_1
              %span.input-group-addon
                %i.fa.fa-calendar
                  = f.input :tpracedate
          .form-group{style: "margin-top:10px"}
            .form-actions.col-sm-12.controls
              = f.button :submit, "Makeplan"
  %hr
  .row
    .col-md-6 Copyright RACEsPACE GmbH
    .col-md-6.text.right.small © 2015-2016

  = link_to 'Back', trainingplans_path


-content_for :javascript do
  :javascript
    $(function() {
      $('#tpracedate .input-group.date')
        .datepicker({todayBtn: "linked",keyboardNavigation: false,forceParse: false,calendarWeeks: true,autoclose: true});
        });
