@font-face {
    font-family: 'TitilliumRegular';
    src: asset-data-url("fonts/TitilliumRegular.eot");
    src: asset-data-url("fonts/TitilliumRegular.eot") format('embedded-opentype'),
         asset-data-url("fonts/TitilliumRegular.woff2") format('woff2'),
         asset-data-url("fonts/TitilliumRegular.woff") format('woff'),
         asset-data-url("fonts/TitilliumRegular.ttf") format('truetype'),
         asset-data-url("fonts/TitilliumRegular.svg") format('svg');
}
@font-face {
    font-family: 'TitilliumLight';
    src: asset-data-url("fonts/TitilliumLight.eot");
    src: asset-data-url("fonts/TitilliumLight.eot") format('embedded-opentype'),
         asset-data-url("fonts/TitilliumLight.woff2") format('woff2'),
         asset-data-url("fonts/TitilliumLight.woff") format('woff'),
         asset-data-url("fonts/TitilliumLight.ttf") format('truetype'),
         asset-data-url("fonts/TitilliumLight.svg") format('svg');
}
@font-face {
    font-family: 'TitilliumSemibold';
    src: asset-data-url("fonts/TitilliumSemibold.eot");
    src: asset-data-url("fonts/TitilliumSemibold.eot") format('embedded-opentype'),
         asset-data-url("fonts/TitilliumSemibold.woff2") format('woff2'),
         asset-data-url("fonts/TitilliumSemibold.woff") format('woff'),
         asset-data-url("fonts/TitilliumSemibold.ttf") format('truetype'),
         asset-data-url("fonts/TitilliumSemibold.svg") format('svg');
}


.container {
  padding-top: 80px;
  padding-bottom: 50px;
}

.navbar {
  min-height: 0;
}

.navbar-right {
  margin-right: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  background-color: #f3f3f4;
  border-bottom-width: 0;
}

.navbar-brand {
  height: 48px;
}
.bg-img{
	padding: 0;
    position: absolute;
    background-image: asset-data-url("bg-image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 0;
    height: 100%;
    width: 100%;
    float: left;
    min-height:970px;
    z-index:-1;
}
.wrapper.wrapper-content{
	padding:0;
}
.logo.pull-left, .right-head.pull-right{
	padding:3%;
}
.right-head ul {
    padding: 0;
    list-style: none;
}
.right-head li {
    display: inline;
    margin-left: 20px;
}
.right-head a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 10px;
}
.rt-login a {
    /*background-color: #ff0000;*/
    background-color:#1ab394;
}
.banner-content {
    padding: 20% 0 30%;
    text-align: center;
    max-width: 700px;
    margin: auto;
}
.banner-content p {
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 2px 1px #000;
    font-weight: 900;
}
span.input-bg {
    background: rgba(0,0,0,.5);
    padding: 5px;
    float: left;
    width: 100%;
}
.input-bg input[type="text"] {
    padding: 10px;
    float: left;
    width: 90%;
}
.input-bg button {
    /*background-color: #ff0000;
    border: 1px solid #ff0000;*/
    background-color: #1ab394;
    border: 1px solid #1ab394;
    padding: 9px 15px 9px 15px;
    float: right;
}
.input-bg button:hover {
    background-color: #4F6D74;
    border: 1px solid #4F6D74;
}
*{margin:0; padding:0; box-sizing:border-box;}
a:hover,
a:active,
a:focus{outline:0 none;}
img { max-width: 100%;}
p, ol, ul, td { font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
.btn-primary{border-radius:0 !important;}
body a:hover { background: none repeat scroll 0 0 transparent;}
body {color: #1d1f28; font-family: "TitilliumRegular"; font-size: 16px;}
nav li.nav-header { background-size: 100% 100%; padding: 10px 10px 30px; text-align: center;}
nav li.nav-header a span.text-muted { color: #fff; display: block; font-size: 16px; margin: 0; padding: 10px 0 5px; text-transform: capitalize;}
nav li.nav-header span img{width:120px;}
.nav li a{text-transform:capitalize;}
.nav li .stats { color: #FFF; font-weight: 400; padding: 14px 20px 14px 25px;}
.nav-second-level li a { font-weight: 400;}
nav.navbar .navbar-header { margin: 2px 0 0 5px; max-width: 400px; width: 100%;}
nav.navbar .navbar-header a .fa.fa-bars { color: #fff;}

body .navbar-fixed-top, body .navbar-static-top { background-color: #e9e9e9;}
nav.navbar .navbar-form-custom { margin: 12px 0 0; max-width: 300px;width:100%;}
nav.navbar form.navbar-form-custom .form-control { background: none repeat scroll 0 0 #fff; border: 1px solid #ddd; border-radius: 5px; height: 35px; line-height: 35px; max-width: 300px; width: 100%;}
ul.nav.navbar-top-links li a, ul.nav.navbar-top-links li span:not(.label) { color: #666;display:inline-block;}
nav li.nav-header a span.text-muted b.caret { border-width: 5px; margin-left: 8px;}

.comment-section .comments-header { border-bottom: 1px dotted #eee; margin-bottom: 20px; padding: 0 0 5px;}

.ibox .ibox-title{border-width:0;}
.ibox table { border: 1px solid #ededed;}
.ibox table thead tr th { background-color: #1ab394; color: #fff;text-transform:uppercase;}
.ibox table tr td .btn-group .btn-white { margin: 0 2px;}
.ibox table tr td .btn-group i { color: #1ab394;}
.ibox table tr td .btn-group i.fa-thumbs-down { color: #f00;}
.ibox .table-striped tbody tr:nth-of-type(2n) { background-color: rgba(26, 179, 148, 0.1);}
.ibox .table-striped tbody tr:nth-of-type(2n+1) { background-color: #FFF;}
.ibox table tr td .comments-header,
.ibox table tr td .comments-header h4,
.ibox table tr td .comments-header h4 a { border: 0 none; color: #1ab394; font-size: 13px; font-weight: 400;cursor:ponter;}
.ibox table tr td .comments-header:hover,
.ibox table tr td .comments-header h4:hover,
.ibox table tr td .comments-header h4 a:hover { color: #333;}
.col-lg-4.box-shadow .ibox { box-shadow: 0 10px 10px #CCC; margin: 0;}

.feed-activity-list .feed-element { padding-bottom: 0;}
#page-wrapper.gray-bg { padding-bottom: 100px;}
#overview p { margin-bottom: 20px;}
#overview ul.full li a { color: #1ab394;}
#overview ul.full li a:hover { color: #333;}
.comment-section { margin: 50px 0 0;}
.comment-section .tabs-area .tab-content { background-color:#FFF;}
.comment-section .tabs-area ul#myTabs li { text-align: center;}
.comment-section .tabs-area ul#myTabs li a { font-weight: 900;}
.comment-section .comments-header h4 a { color: #1ab394; display: block; font-size: 24px; margin: 20px 0 0;}
#myTabs li a { background-color: #eee; border-bottom: 3px solid #ccc; color: #666; padding: 10px 20px;border-radius:0 !important;}
#myTabs .active a { background-color: #1ab394; border-bottom: 3px solid #00998c; color: #fff;}
.tabs-area { margin: 0 0 20px;}
.tabs-area .tab-content { background: none repeat scroll 0 0 #f9f9f9; padding: 20px;}
textarea { height: 120px; resize: none;overflow:auto;margin: 0 0 15px;}
.show-comment-panel { box-shadow: 0 10px 10px #eee; float: left; margin: 20px 0 0; padding: 20px; width: 100%;}
.show-comment-panel .comment-pic { float: left; margin:0 10px 0 0;display:none;}
.show-comment-panel .comment-txt img { float: left; margin:0 10px 0 0;width:85px;}
.show-comment-panel .comment-txt { float: left;width:100%;}
.comment-txt .img-circle { float: left; margin: 0 10px 0 0; width: 100px;}
.show-comment-panel .date { display: block; font-weight: 600; margin: 0 0 8px;}
.show-comment-panel .comment-txt p { margin: 0 0 10px;}
.show-comment-panel .comment-txt a{color:#1ab394;}
.show-comment-panel .comment-txt a:hover{color:#333;}

.gray-bg{background-color:#FFF;/*background-image:asset-data-url("landing02.jpg");background-position: 0 0; background-repeat: no-repeat;background-size:cover;*/}
.gray-bg .top-logo-area { background-color: #1ab394; display: block; padding: 0 30px; text-align: center;}
.panel.form_area { float: left; margin: 80px auto 0; min-height: 670px; text-align: center; width: 100%;}
.gray-bg .panel-default,
.sign-bottom-text-panel{ margin:auto;max-width: 600px; width: 96%; background: #FFF; border-radius: 0; padding: 15px 20px;border:1px solid #ccc;display:inline-block;vertical-align:top;text-align:left;}
.gray-bg .panel-default { border-radius: 0; padding:0;margin:0px 1%;border-top:0 none;border-right:2px solid #f2f2f2;border-left:0 none;border-bottom:0 none;}
.sign-bottom-text-panel { border:0 none;}
.gray-bg .panel-default .panel-heading{/*background-color:#1ab394;color:#FFF;border-radius:0;*/ padding: 15px;font-size:20px;border-color:transparent;background:transparent;}
.gray-bg .panel-default .panel-heading h4{font-size:24px;font-weight:400;}
.sign-bottom-text-panel br{display:none}
.sign-bottom-text-panel a { display: block; margin: 0 0 8px;color:#1ab394;}
.sign-bottom-text-panel a:hover,
.sign-bottom-text-panel a:focus{background:transparent;color:#000;}
/*.gray-bg .footer-panel { display: block; background-color: #1ab394; padding: 15px 0; text-align: center; margin: 0; color: #FFF; position: absolute; left: 0; bottom: 0px; right: 0;}*/
.gray-bg .footer-panel { background-color: #1ab394; color: #fff; float: left; margin: 20px 0 0; padding: 15px 0; text-align: center; width: 100%;}
form#new_user .form-group { float: left; width: 100%;}
form#new_user .form-group .form-control, 
form#new_user .form-group .single-line{display:inline-block; max-width:300px;}
form#new_user .form-group label { font-size: 16px; font-weight: 300; max-width: 135px; width: 100%;}
form#new_user .form-group label:after {content:":";padding-left:3px; }
form#new_user .form-group label ~ label { margin-top: 15px; max-width: none; vertical-align: top; width: auto;font-weight:400;}
form#new_user .form-group .radio, form#new_user .form-group .checkbox { display: inline-block;margin-top:15px;}
form#new_user .form-group .rails-bootstrap-forms-date-select { display: inline-block;max-width:304px;width:100%;}
form#new_user .form-group .rails-bootstrap-forms-date-select select { width: 32%;}
form#new_user .checkbox { float: left; width: 100%;}
form#new_user .captcha { float: left; text-align: center; width: 100%;}
form#new_user .btn.btn-primary { padding-bottom: 10px;}
.form_area #sidebar h2 { color: #333; font-size: 45px; font-weight: 400; margin: 0 0 10px;}
.form_area #sidebar h5 { color: #333; font-size: 24px; font-weight: 400; margin: 0 0 8px;}
.form_area #sidebar p { color: #333; font-size: 14px; font-weight: 400; margin: 0 0 15px;}
#sidebar ul {list-style: none outside none;margin: 0 0 15px; padding: 0;}
#sidebar ul li { display: inline-block; list-style: none outside none; width: 65px;}
#sidebar ul li + li { /*width: 63px;*/margin-left:5px;}
#sidebar ul li img { width: 100%;}
.cl_home{float: right; font-weight: bold; margin-top: 17px;}
.cl_home a{color: #fff; }
.cl_home a:hover,
.create_an_account a:hover{color:#333;background:transparent;}
.form_area .panel-heading h3 { font-weight: 400; padding: 8px 0 0;}
.form_area .create_an_account a { color: #1ab394;}
.sign_in_text a { color: #1ab394; font-size: 15px;}
.form_area .create_an_account a:hover,
.sign_in_text a:hover { color: #676a6c;}

.events-section h2 { color: #1ab394; font-weight: 600; margin: 20px 0;}
.events-section ul:not(.bullet-ul){list-style:none;padding:0;}
.events-section ul li { margin:8px 0;}
.events-section ul li label { font-weight: 400; max-width: 120px; width: 100%;font-size:15px;}
.events-section ul li input,
.events-section ul li select { max-width: 367px; width: 100%;height:30px;line-height:30px;background-color:#FFF;border: 1px solid #ccc; border-radius:0px;padding:0 5px;}
.events-section ul li .calandar { border: 1px solid #ccc; display: inline-block;padding:0 5px;}
.events-section ul li .calandar input { border:0 none;max-width:none;width:auto;padding:0 5px 0 0;}
.events-section ul li .calandar ~ select{ max-width:none;width:auto;}

.events-section{box-shadow:5px -5px 5px #eee;float:left;width:100%;}
.events-section + .events-section{box-shadow:0 0 0;}

.events-section .tabs-area .tab-content{background-color:#FFF;}
.tabs-area ul#myTabs { border: 0 none; text-align: center; word-spacing: -2px;}
.tabs-area ul#myTabs li { display: inline-block; line-height: normal; margin: 2px 0; width: 33%;word-spacing: 0;text-align:left;float:none;}
.tabs-area ul li { margin-bottom:0;}
.tabs-area .tab-content h2 { margin:0 0 10px;color:#1ab394;font-weight:400;}
.tabs-area .tab-content input { height: auto; margin: 3px 0 0; vertical-align: top; width: auto;}
.tabs-area .tab-content ul{ margin:0 0 20px;}
.tabs-area ul li { display: inline-block; line-height: normal; margin: 2px; width: 32%;word-spacing: 0;text-align:left;}
.events-section li a { background-color: #eee; border-bottom: 3px solid #ccc; color: #666; margin: 0; padding: 10px 0; text-align: center;}

ul.half-ul li{width:48%;}
ul.full-ul li{width:100%;}

.events-section ul li select.kilometer { margin: 3px 0 0; max-width: 193px;}
.tabs-area #myTabContent1 .full-ul li input[type="submit"],
.ibox-content .events-section input[type="submit"] { background-color: #1ab394; border-radius: 5px; color: #fff; padding: 2px 15px;}
.tabs-area #myTabContent1 .full-ul li input[type="submit"]:hover,
.ibox-content .events-section input[type="submit"]:hover { background-color: #00998c;}
.ibox-content .events-section input[type="submit"] { border: 0 none; display: block; font-size: 15px; margin: auto; padding: 8px 60px;}
.ibox-content .events-section ul li input[type="submit"] { display: inline-block;margin-top:5px;}

.ibox-title .nav.nav-tabs { float: left;}
.create_an_account { text-align: center;}

.tabs-area .tab-content #overview h2 { display:inline-block;font-size:32px;}
#overview ul, #race-details ul { display: inline-block; margin: 0; padding: 10px 0; width: 50%;vertical-align:top;}
#overview ul.pull-right{width:28%;}
#overview ul.full { width: 100%;}
#overview ul li, #race-details ul li { width: 100%;padding:5px 0;border-bottom:1px dashed #CCC;color:#1ab394;font-size:16px;}
#overview ul li + li, #race-details ul li { color:#676a6c;font-size:13px;}
#overview li strong, #race-details ul li strong { display: inline-block; max-width: 150px; width: 100%;}
#overview ul.full li { width: 100%;}


#overview .rightside-ul { padding:0px;float:right;text-align:right;}
#overview .rightside-ul li { border: 0 none; color: #676a6c; font-size: 13px; margin: 0 10px; vertical-align: top; white-space: nowrap; width: auto;font-weight:600;}
#overview ul.rightside-ul li strong { font-size: 15px; font-weight: 400;margin: 0 2px 0 0; max-width: none; text-transform: uppercase; width: auto;}
#overview h4{border-top:1px solid #EEE;padding:10px 0 0;margin-top:0px;}
/*#race-details #pie.c3 { width: 50%;float:left;}
#race-details #pie.c3 svg { width: 100% !important; text-align: center !important;}*/

.footer-panel ul { list-style: none outside none;text-align:center;margin:0;padding:0;}
.footer-panel ul li{ list-style: none outside none;display:inline-block;margin:0 5px;}
.footer-panel ul li a{color:#FFF;font-size:14px;}
.footer-panel ul li a:hover{color:#333;background:transparent;}

/*  new-design-css Nov 10 2016 */

html,
body{min-height:100%;height:100%;}
body .sign-in,
body .sign-up{min-height:100%;}

div[class*=-wrapper]{float: left; overflow: hidden; padding: 0 0 50px; position: relative; width: 100%; z-index: 9;}

.wrapper .block-bg-abs-icon.left-side { left: -60px; position: absolute; top: 0;z-index:-1;}
.wrapper .block-bg-abs-icon { right: 0px; position: absolute; top: -80px;z-index:-1;}
.wrapper .panel-top-icon { float: left; text-align: center; width: 100%;padding:80px 0 20px;font-family: 'TitilliumLight';}
.wrapper .block-panel-title { color:#1d1f28;font-size:86px;text-align:center;margin-bottom:0px;font-family: 'TitilliumLight';font-weight:400;}
.wrapper .block-panel-txt { color:#1d1f28;font-size:22px;text-align:center;margin:0;}
.wrapper .block-panel-title.text-white,
.wrapper .block-panel-txt.text-white{color:#FFF;}
.block-mid-abs-icon,
.foot-block-mid-abs-icon { left: 0; margin: auto; position: absolute; right: 0; top: -43px; width: 285px;}


.h-wrapper{background-image:asset-data-url("body-bg.png"); background-position:0 0; background-color:transparent; background-repeat:no-repeat; background-size:cover;z-index:999;}
.sign-in {background-image:asset-data-url("body-bg-big.jpg"); background-position:0 0px; background-color:transparent; background-repeat:no-repeat; background-size:100% 100%;}
.sign-in .h-wrapper{background-image:none;}

div[class*=-wrapper] .container,
body .sign-in .container,
body .sign-up .container{padding-top:0;padding-bottom:0;}
.search-wrapper{background-color:#FFF;}
.share-wrapper{background-color:#121319;}

.calendar-wrapper{background-color:#f36d13; min-height: 900px;}
.training-wrapper{min-height:900px;}
.f-wrapper{background-color:#15161d;}

.header{padding:44px 0 0;position:relative;}

.header .navbar-toggle {
  background-color: transparent;
  border:2px solid #FFF;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;
  display: block;
  position: static;
  margin:5px 0 0;
  right: 0px;
  top: 44px;
  z-index: 999;
  padding:13px;
}
.header .navbar-toggle .icon-bar {
  background-color: #ffffff;
  border-radius: 0;
  transform: rotate(0deg);
  transition: all 0.2s ease-out 0s;
  width:18px;
}
.header nav.collapse {
  display: none !important;
}
nav#navbar.collapsing,
nav#navbar.collapse.in { display:block !important;background-color: #F36D13; height: 100% !important; left: 0; margin: 0; padding: 10% 0 0; position: fixed; text-align: center; top: 0; width: 100%;z-index:99;}
nav#navbar ul { float: left; list-style: outside none none; margin: 0; text-align: center; width: 100%;}
nav#navbar ul li { color: #fff; float: none; list-style: outside none none; margin: 0; padding: 5px 20px;position:relative;-webkit-transition:0.3s all;-moz-transition:0.3s all;-ms-transition:0.3s all;-o-transition:0.3s all;transition:0.3s all;}
nav#navbar ul li.last-menu { border: 1px solid #fff; display: inline-block; margin: 5px auto 0; max-width: 140px;}
nav#navbar ul li.last-menu:hover { background-color:#fff;color:#f94c42;}
nav#navbar ul li.last-menu:hover a {color:#f94c42;}
nav#navbar ul li a {color:#FFF;text-transform:uppercase;background:transparent;padding:0;-webkit-transition:0.3s all;-moz-transition:0.3s all;-ms-transition:0.3s all;-o-transition:0.3s all;transition:0.3s all;font-size:20px;line-height:40px;font-weight:400;}
nav#navbar ul li a:hover {text-decoration:none;background:transparent;}
.header .navbar-toggle .icon-bar { background-color: #fff;transform: rotate(0deg);transition: all 0.3s; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;  -webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out; -o-transition: all .2s ease-out; transition: all .2s ease-out;}
nav#navbar ul li { opacity: 0; position: relative; transform: translateY(-30px); transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;}
nav#navbar.in ul li { opacity: 1; transform: translateY(0px);}
nav#navbar.in ul li { transition-delay: 0.2s;}
nav#navbar.in ul li+li{ transition-delay: 0.5s;}
nav#navbar.in ul li+li+li{ transition-delay: 0.8s;}
nav#navbar.in ul li+li+li+li{ transition-delay: 1.1s;}
nav#navbar.in ul li+li+li+li+li{ transition-delay: 1.4s;}
nav#navbar.in ul li+li+li+li+li+li{ transition-delay: 1.7s;}
nav#navbar.in ul li+li+li+li+li+li+li{ transition-delay: 2.0s;}
nav#navbar.in ul li + li + li + li + li + li + li:hover{transition-delay:0s;}

.header .navbar-toggle:not(.collapsed){border:0 none;position:fixed;right:19%;}
.header .navbar-toggle:not(.collapsed) .icon-bar{width:32px;}
.header .navbar-toggle:not(.collapsed) .icon-bar { height: 3px; margin: 4px 0 0; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.header .navbar-toggle:not(.collapsed) .icon-bar + .icon-bar { margin: -3px 0 0; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg);}
.header .navbar-toggle:not(.collapsed) .icon-bar  + .icon-bar  + .icon-bar  {display:none;}


/*  */
.header .navbar-toggle:not(.collapsed) {
  border: 0 none;
  left: auto;
  margin: auto;
  position: fixed;
  right: auto;
  text-align: right;
  width: 1170px;
}
.header .navbar-toggle:not(.collapsed) .icon-bar {
  height: 3px;
  margin: 13px 0 0;
  transform: rotate(45deg);
  float: right;
}
.header .navbar-toggle:not(.collapsed) .icon-bar + .icon-bar {
  margin: 12px -32px 0 0;
  transform: rotate(-45deg);
}

/*  */



.top-icon-area .top-icon{text-align:center;width:100%;float:left;list-style-type:none; margin:22% 0;}
.top-icon li + li:before {
  border-top: 2px dashed #fff4ec;
  bottom: 0;
  content: "";
  margin: auto;
  position: absolute;
  left: -78%;
  top: 50px;
  transform: translate(0px, 0px);
  width: 105%;
}
.top-icon-area .top-icon li {
  color: #ffffff;
  display: inline-block;
  float: none;
  margin: 0 5%;
  position:relative;
  width:20%;
}
.top-icon-area .top-icon li h3 {font-size:56px;color:#FFF;font-weight:300;font-family: 'TitilliumLight'; margin-bottom: 10px; margin-top: 20px;}
.top-icon-area .top-icon li p {font-size:16px;color:#b5b6bf;font-family: 'TitilliumLight';}

.search-wrapper .row {
  margin: auto;
  max-width: 920px;
}
.search-wrapper form {
  border: 1px solid #d6d6d6;
  margin: 90px auto 60px;
  max-width: 500px;
  padding: 8px 10px;
  text-align: right;
  width: 100%;
}
.search-wrapper form input[type="text"] {
  border: 0 none;
  float: left;
  height: 44px;
  line-height: 44px;
  max-width:220px;
  width:100%;
}
.search-wrapper form input[type="submit"]{border:0 none;cursor:pointer;background:asset-data-url("search-lens-icon.png") 0 0 no-repeat;font-size:0; width:44px; height:44px;}
.search-wrapper h4{font-size:22px;color:#1d1f28;}
.search-wrapper h4 .search-result-found{color:#f36d13;}
.search-wrapper .row.search-row{border-bottom:1px solid #e9e9e9;padding-bottom:10px;margin-bottom:20px;}
/* .search-wrapper .row.search-result{border-top:1px solid #e9e9e9;padding-top:10px;padding-bottom:10px;} */
.search-wrapper .row.search-result .search-panel{border:1px solid #e9e9e9;padding-top:10px;padding-bottom:10px;margin-bottom:10px;background-color:#FFF;}
.search-wrapper .row.search-result .col-lg-5:nth-child(2) { padding-left: 0;}
.search-wrapper .row.search-result h3{font-size:20px;color:#787b88; display:inline-block;margin:2px 0 0;line-height:normal;}
.search-wrapper .row.search-result h2{font-size:24px;margin:5px 0;line-height:normal;font-family: 'TitilliumSemibold';}
.search-wrapper .row.search-result span.date{font-size:16px;margin-left:20px;}
.search-wrapper .row.search-result a { color: #f36d13; word-wrap: break-word;}
.search-wrapper .row.search-result .col-lg-5:nth-child(3) { padding-left: 0; padding-right: 0;}
.search-wrapper .row.search-result .col-lg-2 { margin-top:10px;}
.search-wrapper .row.search-result .col-lg-5 { margin-top:15px;}
.search-wrapper .row.search-result ul.search-tag-ul{list-style-type:none;width:100%;float:left;}
.search-wrapper .row.search-result ul.search-tag-ul li{display:inline-block;text-align:center;font-size:17px;width:100%;max-width:115px;margin:0 0 6px;}
.search-wrapper .row.search-result ul.search-tag-ul li a{border:1px solid #e8e8e8;display:block;padding:5px 0;border-radius:5px;color:#1d1f28;
transition: all 0.3s; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out;
}
.search-wrapper .row.search-result ul.search-tag-ul li a:hover {
  background-color: #f36d13;
  border: 0 none;
  color: #ffffff;
  text-decoration: none;
}
.number-count-area {
  background-color: #f36d13;
  border-radius: 5px 0 0 5px;
  bottom: 0;
  color: #ffffff;
  font-size: 20px;
  height: 35px;
  left: -61px;
  line-height: 35px;
  margin: auto;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
}
.search-panel .glyphicon.glyphicon-plus {
  background-color: #cfd5df;
  border: 5px solid #ffffff;
  border-radius: 50%;
  bottom: 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  height: 45px;
  line-height: 35px;
  margin: auto;
  position: absolute;
  right: -52px;
  text-align: center;
  top: 0;
  width: 45px;
  cursor:pointer;
  transition: all 0.3s; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out;
}
.search-panel .glyphicon.glyphicon-plus:hover{background-color: #f36d13;}
.slick-slider .slick-track, .slick-slider .slick-list {
	  padding:20px 0 !important
}
.slider {
	width: 80%;
	margin: 100px auto;
}

.slick-slide {
  margin: 0 20px;
  transform: scale(0.8);
  transition:0.5s all;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}

.slick-current {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.3);
}

.slick-prev.slick-arrow {
  bottom: 0;
  height: 28px;
  left: -40px;
  margin: auto;
  position: absolute;
  top: 0;
  background:rgba(0, 0, 0, 0) asset-data-url("banner-arrows-left.png") no-repeat scroll 0 0;
  font-size:0;
  border:0 none;
  width:30px;
  height:44px;
  z-index:999;
  transition: all 0.3s; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out;
}
.slick-next.slick-arrow {
  bottom: 0;
  height: 30px;
  right: -40px;
  margin: auto;
  position: absolute;
  top: 0;
  background:rgba(0, 0, 0, 0) asset-data-url("banner-arrows-right.png") no-repeat scroll 0 0;
  font-size:0;
  border:0 none;
  width:28px;
  height:44px;
  z-index:999;
  transition: all 0.3s; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out;
}
.slick-prev.slick-arrow:hover,
.slick-next.slick-arrow:hover{ background-position:0 -57px;}
.slick-dots {
  bottom: -60px;
  left: 0;
  list-style: outside none none;
  margin: auto;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  white-space: nowrap;
  width: 210px;
}
.slick-dots li {
  cursor: pointer;
  display: inline-block;
  height: 5px;
  margin: 0 5px;
  padding: 0;
  position: relative;
  width: 60px;
}
.slick-dots li button:before {
  background-color: #232530;
  color: #000000;
  content: "";
  font-size: 6px;
  height: 5px;
  left: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 60px;
}
.slick-dots li:nth-child(2) button:before {
	background-color: #F36D13;	
}

.slick-dots li button {
  background-color: rgba(0, 0, 0, 0);
  border: 0 none;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  outline: medium none;
  padding: 5px;
  width: 60px;
}
.training-wrapper .col-lg-6 {
  margin: 60px 0 0;
}
.training-wrapper .col-lg-6 h3:after {
	background-color:#f36d13;
	position:absolute;
	bottom:-2px;
	left:0;
	content:"";
	width:174px;
	height:4px;
}
.training-wrapper .col-lg-6 h3 {
  border-bottom: 1px solid #c4cdbd;
  font-size: 40px;
  position:relative;
  padding-bottom:25px;
  font-family: 'TitilliumSemibold';
  font-weight:400;
}
.training-events-ul {
  float: left;
  list-style-type: none;
  margin: 15px 0 10px;
  text-align: center;
  width: 100%;
}
.training-events-ul li {
  border: 1px solid #c4cdbd;
  border-radius: 5px;
  display: inline-block;
  float: left;
  padding: 30px 0 15px;
  width: 30%;
  background-color:#FFF;
  transition: all 0.3s; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out;
}
.training-events-ul li + li {
  margin: 0 0 0 5%;
}
.training-events-ul li:hover,
.training-events-ul li:active,
.training-events-ul li.active {
  border: 1px solid #f36d13;
}
.training-events-ul li h4 {
  margin-bottom:0;
  margin-top:15px;
  font-family: 'TitilliumSemibold';
  font-size:18px;
  font-weight: 500;
}
.training-events-ul li a {
  color: #f36d13;
  font-size:16px;
}
.training-wrapper .col-lg-6 a.view-plan-btn {
  background-color: #f36d13;
  border: 0 none;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  max-width: 165px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin:10px 0 0;
}
.training-wrapper .col-lg-6 a.view-plan-btn:hover{
	text-decoration:none;
}
.f-wrapper .col-lg-2 h3,
.f-wrapper .col-lg-3 h3,
.f-wrapper .col-md-4 h3 {
  border-bottom: 1px solid #f2f2f2;
  color: #ffffff;
  font-size: 20px;
  margin: 0 0 25px;
  padding: 0 0 10px;
  position: relative;
  font-family: 'TitilliumSemibold';
}
.f-wrapper .col-lg-2 h3:after,
.f-wrapper .col-lg-3 h3:after,
.f-wrapper .col-md-4 h3:after {
  position: absolute;
  bottom:-2px;
  height:4px;
  width:100px;
  background-color:#f36d13;
  content:"";
  left:0;
}
.f-wrapper ul.company-ul li,
.f-wrapper ul.contact-ul li {
  list-style-type:none;
  color: #ffffff;
  font-size: 17px;
  margin:8px 0;
}
.f-wrapper ul.company-ul li a,
.f-wrapper ul.contact-ul li a {
  color: #ffffff;
  font-size: 17px;
}
.f-wrapper ul.contact-ul li i.fa {
  margin: 0 8px 0 0;
}
.f-wrapper ul.contact-ul li a {
  color:#FFF;
}
div.f-wrapper {padding:100px 0;overflow:visible;}
.f-wrapper .social-ul li {
  display: inline-block;
  margin: 0 6px 0 0;
  list-style-type:none;
}
ul.social-ul li a {
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  transition: all 0.3s; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out;
}
ul.social-ul li a i {
  color: #15161d;
}
ul.social-ul li a:hover{
	background-color:#f36d13;
}
ul.social-ul li a:hover i{
	color:#FFF;
}
.f-wrapper .col-lg-4 {
  margin: 20px 0 0;
}
.f-wrapper .social-ul {
  margin: 15px 0 0;
}
.f-wrapper p.copyright {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
  padding: 40px 0 0;
}
body .sign_in_form{max-width:540px;margin:10% auto;width:98%;background-color:rgba(0,0,0,0.3);border:1px solid #4b4b55;padding:45px;}
body .sign_in_form .sign-in-title-panel { float: left; margin: 0 0 30px; width: 100%;}
body .sign_in_form .sign-in-title-panel i { color: #f36d13; float: left; font-size: 90px; margin: 0 5% 0 0;}
body .sign_in_form .sign-in-title-panel h3{color:#FFF;font-family: 'TitilliumSemibold';margin:0 0 5px;font-size:36px;line-height:40px;font-weight:400;}
body .sign_in_form .sign-in-title-panel p{color:#FFF;font-family: 'TitilliumLight';font-size:20px;line-height:25px;}
body .sign_in_form .form-group,
body .sign_in_form .form-group .input-group{width:100%;}
body .sign_in_form .form-group .input-group{ margin: 0 0 10px;border:1px solid #d6d6d6;}
body .sign_in_form input { border: 0 none; border-radius: 0; height: 42px; line-height: 42px;max-width:100% !important;}
body .sign_in_form button { border-radius: 0; width:100%;background-color:#f36d13;border:0 none; padding: 6px 0 10px;font-size:20px;}
body .sign_in_form button:hover,
body .sign_in_form button:hover:active,
body .sign_in_form button:active:focus,
body .sign_in_form button:active,
body .sign_in_form button:focus {background-color:#999;}
body .sign_in_form .form-group .input-group .input-group-addon { background-color: #ffffff; border: 0 none; border-radius: 0;}
body .sign_in_form .form-group .input-group .input-group-addon i{ color:#ced1e0;}
body .sign_in_form p { color: #ffffff; font-size: 17px; line-height: 22px; margin: 13px 0;}
body .sign_in_form p a { color: #f36d13;}
body .sign_in_form ul {list-style-type:none;width:100%;margin:0;padding:0;}
body .sign_in_form ul li{list-style-type:none;width:100%;margin:0;padding:0;font-family: 'TitilliumLight';font-size:17px;}
body .sign_in_form ul li a{color:#FFF;font-size:17px;font-family: 'TitilliumLight';}
body .sign_in_form p.social-ul-top-txt { color: #ffffff; font-size: 20px; line-height: 22px; margin: 13px 0;}
body .sign_in_form ul.form-arrow-ul { margin: 30px 0;}
body .sign_in_form ul.form-arrow-ul li { background:url(../images/ul-arrow.png) 0 8px no-repeat;padding-left:18px;margin:0 0 10px;}
body .sign_in_form ul.form-social-ul li{list-style-type:none;display:inline-block;width:auto;margin:0 5px 0 0;padding:0;font-family: 'TitilliumLight';font-size:17px;vertical-align:top;}



/* Nov 11 2016*/
.h-wrapper{background-image:asset-data-url("body-bg.png"); background-position:0 0; background-color:transparent; background-repeat:no-repeat; background-size:cover;z-index:999;}
.sign-in {background-image:asset-data-url("body-bg-big.jpg"); background-position:0 0px; background-color:transparent; background-repeat:no-repeat; background-size:100% 100%;}
.sign-up {background-image:asset-data-url("body-bg-signup.jpg"); background-position:0 0px; background-color:transparent; background-repeat:no-repeat; background-size:100% 100%;}
.sign-in .h-wrapper{background-image:none;}
.sign-up .h-wrapper{background-image:none;}

body .sign_in_form{max-width:540px;margin:10% auto;width:98%;background-color:rgba(0,0,0,0.3);border:1px solid #4b4b55;padding:45px;}
body .sign_in_form .sign-in-title-panel { float: left; margin: 0 0 30px; width: 100%;}
body .sign_in_form .sign-in-title-panel i { color: #f36d13; float: left; font-size: 90px; margin: 0 5% 0 0;}
body .sign_in_form .sign-in-title-panel h3{color:#FFF;font-family: 'TitilliumSemibold';margin:0 0 5px;font-size:36px;line-height:40px;}
body .sign_in_form .sign-in-title-panel p{color:#FFF;font-family: 'TitilliumLight';font-size:20px;line-height:25px;}
body .sign_in_form .form-group,
body .sign_in_form .form-group .input-group{width:100%;margin:0;}
body .sign_in_form .form-group .input-group,
body .sign_in_form .input-group .form-group .text-field-blank{ margin: 0 0 10px;border:1px solid #d6d6d6;}
body .sign_in_form input { border: 0 none; border-radius: 0; height: 49px; line-height: 49px;color: #999; font-size: 20px;max-width:100% !important;}
body .sign_in_form button { border-radius: 0; width:100%;background-color:#f36d13;border:0 none; padding: 8px 0 10px;font-size:20px;color:#FFF;}
body .sign_in_form button:hover,
body .sign_in_form button:hover:active,
body .sign_in_form button:active:focus,
body .sign_in_form button:active,
body .sign_in_form button:focus {background-color:#999;color:#FFF;}
body .sign_in_form .form-group .input-group .input-group-addon { background-color: #ffffff; border: 0 none; border-radius: 0; }
body .sign_in_form .form-group .input-group .input-group-addon i{ color:#f36d13;}
body .sign_in_form p { color: #ffffff; font-size: 17px; line-height: 22px; margin: 13px 0;}
body .sign_in_form p a { color: #f36d13;}
body .sign_in_form ul {list-style-type:none;width:100%;margin:0;padding:0;}
body .sign_in_form ul li{list-style-type:none;width:100%;margin:0;padding:0;font-family: 'TitilliumLight';font-size:17px;}
body .sign_in_form ul li a{color:#FFF;font-size:17px;font-family: 'TitilliumLight';}
body .sign_in_form p.social-ul-top-txt { color: #ffffff; font-size: 20px; line-height: 22px; margin: 13px 0;}
body .sign_in_form ul.form-arrow-ul { margin: 30px 0;}
body .sign_in_form ul.form-arrow-ul li { background-image:asset-data-url("ul-arrow.png"); background-position: 0 2px; background-repeat: no-repeat;padding-left:18px;margin:0 0 10px;}
body .sign_in_form ul.form-social-ul li{list-style-type:none;display:inline-block;width:auto;margin:0 5px 0 0;padding:0;font-family: 'TitilliumLight';font-size:17px;vertical-align:top;}

body .sign_in_form .form-group .input-group.captcha-area,
body .sign_in_form .form-group .input-group .form-group{ width: 69% !important;display:inline-block;vertical-align:top;}
body .sign_in_form .input-group .form-group .text-field-blank input{ width: 100% !important;}
body .sign_in_form .form-group .input-group.code-pic-area,
body .sign_in_form .form-group .input-group .captcha { float: right !important; width: 130px !important;height:50px;display:inline-block;vertical-align:top;}
body .sign_in_form .form-group .input-group .captcha img {height:50px;}
body .sign-up .sign_in_form .form-group .input-group:last-child { border: 0 none; margin: 0;}


/* //Nov 11 2016

body .sign_in_form .input-group .form-group .text-field-blank 
*/


/*      ####################################       RESPONSIVE MEDIA STARTS HERE            ######################################      */



@media(max-width:1366px){
	body .sign-in,
	body .sign-up { background-size:cover;}
}
@media(max-width:1199px){
	.header .navbar-toggle:not(.collapsed) {
	  width: 970px;
	}
	.top-icon li + li:before {
	  left: -72%;
	  width: 94%;
	}
}
@media(max-width:991px){
	.header .navbar-toggle:not(.collapsed) {
	  width: 750px;
	}
	.top-icon li + li:before {
	  left: -65%;
	  width: 78%;
	}
}

@media(max-width:768px){
	.slick-slide {
	  margin: 0 10px;
	}
	.slider {
	  width: 80%;
	}
	.slick-slide {
	  transform: scale(0.8);
	}
	.slick-current {
	  transform: scale(1.3);
	}
	
}
@media(max-width:767px){
	.header {
	  padding: 44px 4% 0;
	}
	.header .navbar-toggle {
	  right: 30px;
	}
	.header .navbar-toggle:not(.collapsed) {
	  right: 3%;
	}
	.number-count-area {
	  border-radius: 5px 5px 0 0;
	  bottom: auto;
	  left: 0;
	  margin: auto;
	  right: 0;
	  top: -56px;
	  width: 40px;
	}
	.search-wrapper .row.search-result .search-panel {
	  margin-top: 50px;
	}
	.search-panel .glyphicon.glyphicon-plus {
	  bottom: -32px;
	  left: 0;
	  right: 0;
	  top: auto;
	}
	.top-icon li + li:before {
	  content:none;
	}
	.top-icon-area .top-icon li {
	  margin: 0 5% 40px;
	  width: 90%;
	}
	body .sign_in_form .form-group .input-group .input-group-addon {padding-left: 10px; padding-right: 10px;}
	body .sign_in_form .sign-in-title-panel p{color:#FFF;font-family: 'TitilliumLight';font-size:20px;line-height:28px;}
	
}

@media(max-width:568px){
	body .sign_in_form {
	  padding: 35px;
	}
	body .sign_in_form .input-group .form-group .text-field-blank { width: 100% !important;}
    body .sign_in_form .form-group .input-group .captcha { float: none !important;}
}
@media(max-width:480px){
	.header > a {
	  display: block;
	  margin: 0 auto;
	  max-width: 280px;
	}
	.header .navbar-toggle {
	  position: static;
	}

}
@media(max-width:414px){
	.wrapper .block-panel-title {
	  font-size: 56px;
	}
	.training-events-ul li {
	  float: none;
	  width: 90%;
	}
	.training-events-ul li + li {
	  margin: 20px 0 0;
	}
	.header .navbar-toggle {
	  position: static;
	}
	.header .navbar-toggle:not(.collapsed) {
	  right: 0;
	}
	body .sign_in_form .sign-in-title-panel i {
	  font-size: 50px;
	}
}
@media(max-width:360px){
	.search-wrapper .row.search-result ul.search-tag-ul li {
	  max-width: 110px;
	}
	.search-wrapper .row.search-result span.date {
	  margin-left: 10px;
	}
	body .sign_in_form {
	  padding: 25px 25px 35px;
	}
}


::-webkit-input-placeholder { 
  font-size:20px;
  color: #777b8b;
}
::-moz-placeholder { 
  font-size:20px;
  color: #777b8b;
}
:-ms-input-placeholder {
  font-size:20px;
  color: #777b8b;
}
:-moz-placeholder { 
  font-size:20px;
  color: #777b8b;
}

/* //Nov 10 2016*/




@media(max-width:767px){
	.form_area .panel-body #new_user .form-group label {
	  max-width: 100%;
	  width: 100%;
	}
}
