  <h4><a href='#groups'>Groups</a></h4>
  <ul>
      <li><a href='#groups-index'>index</a></li>
      <li><a href='#groups-show'>show</a></li>
      <li><a href='#groups-new'>new</a></li>
      <li><a href='#groups-edit'>edit</a></li>
      <li><a href='#groups-create'>create</a></li>
      <li><a href='#groups-update'>update</a></li>
      <li><a href='#groups-destroy'>destroy</a></li>
  </ul>
  <h4><a href='#imported_race_results'>Imported race results</a></h4>
  <ul>
      <li><a href='#imported_race_results-show'>show</a></li>
      <li><a href='#imported_race_results-search'>search</a></li>
  </ul>
  <h4><a href='#preferences'>Preferences</a></h4>
  <ul>
      <li><a href='#preferences-show'>show</a></li>
      <li><a href='#preferences-update'>update</a></li>
  </ul>



  <hr/>

  <div>
    <h2 id="groups">
      <a href='#groups'>Groups</a><br>
      <small></small>
    </h2>
  </div>


  <div>

      <hr/>

      <h3 id="groups-index">
      <a href='#groups'>Groups</a> / <a href='#groups-index'>index</a>
      </h3>

      <div>
          <h4>
              GET /api/v1/groups
            <br>
            <small>Return the list of all groups</small>
          </h4>
      </div>

      <div>
        


      </div>
      <hr/>

      <h3 id="groups-show">
      <a href='#groups'>Groups</a> / <a href='#groups-show'>show</a>
      </h3>

      <div>
          <h4>
              GET /api/v1/groups/:id
            <br>
            <small>Show group specified by id</small>
          </h4>
      </div>

      <div>
        


          <h4>Params</h4>
          <ul>
    <li>
      <strong>id </strong>:
      <small>
        optional
        
          [ 
<p>Must be a number.</p>
 ]
      </small>
      
<p>ID of the group</p>

    </li>
    
</ul>

      </div>
      <hr/>

      <h3 id="groups-new">
      <a href='#groups'>Groups</a> / <a href='#groups-new'>new</a>
      </h3>

      <div>
          <h4>
              GET /api/v1/groups/new
            <br>
            <small>New group (without beeing saved)</small>
          </h4>
      </div>

      <div>
        


      </div>
      <hr/>

      <h3 id="groups-edit">
      <a href='#groups'>Groups</a> / <a href='#groups-edit'>edit</a>
      </h3>

      <div>
          <h4>
              GET /api/v1/groups/:id/edit
            <br>
            <small>Edit group</small>
          </h4>
      </div>

      <div>
        


          <h4>Params</h4>
          <ul>
    <li>
      <strong>id </strong>:
      <small>
        optional
        
          [ 
<p>Must be a number.</p>
 ]
      </small>
      
<p>ID of the group to edit</p>

    </li>
    
</ul>

      </div>
      <hr/>

      <h3 id="groups-create">
      <a href='#groups'>Groups</a> / <a href='#groups-create'>create</a>
      </h3>

      <div>
          <h4>
              POST /api/v1/groups
            <br>
            <small>Create new group</small>
          </h4>
      </div>

      <div>
        


      </div>
      <hr/>

      <h3 id="groups-update">
      <a href='#groups'>Groups</a> / <a href='#groups-update'>update</a>
      </h3>

      <div>
          <h4>
              PATCH /api/v1/groups/:id
            <br>
            <small>Update group parameter</small>
          </h4>
          <h4>
              PUT /api/v1/groups/:id
            <br>
            <small>Update group parameter</small>
          </h4>
      </div>

      <div>
        


      </div>
      <hr/>

      <h3 id="groups-destroy">
      <a href='#groups'>Groups</a> / <a href='#groups-destroy'>destroy</a>
      </h3>

      <div>
          <h4>
              DELETE /api/v1/groups/:id
            <br>
            <small>Delete group</small>
          </h4>
      </div>

      <div>
        


      </div>
  </div>

  <hr/>

  <div>
    <h2 id="imported_race_results">
      <a href='#imported_race_results'>Imported race results</a><br>
      <small></small>
    </h2>
  </div>


  <div>

      <hr/>

      <h3 id="imported_race_results-show">
      <a href='#imported_race_results'>Imported race results</a> / <a href='#imported_race_results-show'>show</a>
      </h3>

      <div>
          <h4>
              GET /api/v1/imported_race_results/:id
            <br>
            <small>Show ImportedRaceResult specified by ID</small>
          </h4>
      </div>

      <div>
        


      </div>
      <hr/>

      <h3 id="imported_race_results-search">
      <a href='#imported_race_results'>Imported race results</a> / <a href='#imported_race_results-search'>search</a>
      </h3>

      <div>
          <h4>
              GET /api/v1/imported_race_results/search
            <br>
            <small>Search Race Result by query string</small>
          </h4>
      </div>

      <div>
        


      </div>
  </div>

  <hr/>

  <div>
    <h2 id="preferences">
      <a href='#preferences'>Preferences</a><br>
      <small></small>
    </h2>
  </div>


  <div>

      <hr/>

      <h3 id="preferences-show">
      <a href='#preferences'>Preferences</a> / <a href='#preferences-show'>show</a>
      </h3>

      <div>
          <h4>
              GET /api/v1/preferences/:id
            <br>
            <small>Show Preference specified by ID</small>
          </h4>
      </div>

      <div>
        

          <h4>Errors</h4>
            401
            Unauthorized
            <pre class="prettyprint lang-yaml">--- 
...
</pre>

            <br>

      </div>
      <hr/>

      <h3 id="preferences-update">
      <a href='#preferences'>Preferences</a> / <a href='#preferences-update'>update</a>
      </h3>

      <div>
          <h4>
              PATCH /api/v1/preferences/:id
            <br>
            <small>Update Preference specified by ID</small>
          </h4>
          <h4>
              PUT /api/v1/preferences/:id
            <br>
            <small>Update Preference specified by ID</small>
          </h4>
      </div>

      <div>
        

          <h4>Errors</h4>
            401
            Unauthorized
            <pre class="prettyprint lang-yaml">--- 
...
</pre>

            <br>

      </div>
  </div>
