<div aria-labelledby="home-tab" id="create-event" role="tabpanel" class="tab-pane">
	<div class="ibox-content">
		<div class="events-section">
			<h2>Step 1: Race Details</h2>
			<form>
				<ul>
					<li>
						<label>Race Name :</label>
						<input type="" value="" />
					</li>
					<li>
						<label>City :</label>
						<input type="" value="" />
					</li>
					<li>
						<label>Country :</label>
						<select>
							<option>United States</option>
							<option>United States</option>
							<option>United States</option>
							<option>United States</option>
						</select>
					</li>
					<li>
						<label>State/Prov :</label>
						<select>
							<option>United States</option>
							<option>United States</option>
							<option>United States</option>
							<option>United States</option>
						</select>
					</li>
					<li>
						<label>When :</label>
						<div class="calandar">
							<input type="text" value="" />
							<span aria-hidden="true" class="glyphicon glyphicon-calendar"></span>
						</div> at
						<select>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
						</select>:
						<select>
							<option>00</option>
							<option>15</option>
							<option>30</option>
							<option>45</option>
						</select>
						<select>
							<option>AM</option>
							<option>PM</option>
						</select>
					</li>
					<li>
						<label>Web Site :</label>
						<input type="" value="" />
					</li>
				</ul>
				<h2>Step 2. Add Courses</h2>
				<div class="tabs-area">
					<ul role="tablist" id="myTabs" class="nav nav-tabs">
						<li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#running-courses">Running Courses</a></li>
						<li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#tri-cycling-swim-courses">Tri, Cycling & Swim Courses</a></li>
						<li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#build-your-own">Build Your Own</a></li>
					</ul>
					<div id="myTabContent1" class="tab-content">
						<div aria-labelledby="home-tab" id="running-courses" role="tabpanel" class="tab-pane fade in active">
							<h2>Most common</h2>
							<ul>
								<li> <input type="checkbox" value=""> 5K Run </li>
								<li> <input type="checkbox" value=""> 10K Run </li>
								<li> <input type="checkbox" value=""> Marathon </li>
								<li> <input type="checkbox" value=""> Half Marathon </li>
								<li> <input type="checkbox" value=""> 8K Run </li>
								<li> <input type="checkbox" value=""> 15K Run </li>
								<li> <input type="checkbox" value=""> 25K Run </li>
								<li> <input type="checkbox" value=""> 50K Run </li>
								<li> <input type="checkbox" value=""> 50 Mile Run </li>
								<li> <input type="checkbox" value=""> 3K Run </li>
								<li> <input type="checkbox" value=""> 4 Mile Run </li>
								<li> <input type="checkbox" value=""> 5 Mile Run </li>
								<li> <input type="checkbox" value=""> 10 Mile Run </li>
							</ul>
							<h2>Trail Runs</h2>
							<ul>
								<li> <input type="checkbox" value=""> 5K Run </li>
								<li> <input type="checkbox" value=""> 10K Run </li>
								<li> <input type="checkbox" value=""> Marathon </li>
								<li> <input type="checkbox" value=""> Half Marathon </li>
								<li> <input type="checkbox" value=""> 8K Run </li>
								<li> <input type="checkbox" value=""> 15K Run </li>
								<li> <input type="checkbox" value=""> 25K Run </li>
								<li> <input type="checkbox" value=""> 50K Run </li>
								<li> <input type="checkbox" value=""> 50 Mile Run </li>
								<li> <input type="checkbox" value=""> 3K Run </li>
								<li> <input type="checkbox" value=""> 4 Mile Run </li>
								<li> <input type="checkbox" value=""> 5 Mile Run </li>
								<li> <input type="checkbox" value=""> 10 Mile Run </li>
							</ul>
							<h2>Track and Field</h2>
							<ul>
								<li> <input type="checkbox" value=""> 5K Run </li>
								<li> <input type="checkbox" value=""> 10K Run </li>
								<li> <input type="checkbox" value=""> Marathon </li>
								<li> <input type="checkbox" value=""> Half Marathon </li>
								<li> <input type="checkbox" value=""> 8K Run </li>
								<li> <input type="checkbox" value=""> 15K Run </li>
								<li> <input type="checkbox" value=""> 25K Run </li>
								<li> <input type="checkbox" value=""> 50K Run </li>
								<li> <input type="checkbox" value=""> 50 Mile Run </li>
								<li> <input type="checkbox" value=""> 3K Run </li>
								<li> <input type="checkbox" value=""> 4 Mile Run </li>
								<li> <input type="checkbox" value=""> 5 Mile Run </li>
								<li> <input type="checkbox" value=""> 10 Mile Run </li>
							</ul>
						</div>
						<div aria-labelledby="profile-tab" id="tri-cycling-swim-courses" role="tabpanel" class="tab-pane fade">
							<h2>Triathlon &amp; Multisport</h2>
							<ul class="half-ul">
								<li> <input type="checkbox" value=""> Sprint Tri (400M Swim, 20K Bike, 5K Run)</li>
								<li> <input type="checkbox" value=""> Sprint Tri (800M Swim, 20K Bike, 5K Run) </li>
								<li> <input type="checkbox" value=""> Sprint Tri (500M Swim, 20K Bike, 5K Run)</li>
								<li> <input type="checkbox" value=""> Sprint Tri (750M Swim, 20K Bike, 5K Run)</li>
								<li> <input type="checkbox" value=""> Olympic Tri (1500M Swim, 40K Bike, 10K Run)</li>
								<li> <input type="checkbox" value=""> Half Ironman Triathlon</li>
								<li> <input type="checkbox" value=""> Ironman Triathlon</li>
							</ul>
							<h2>Swimming</h2>
							<ul>
								<li> <input type="checkbox" value=""> 50M Swim</li>
								<li> <input type="checkbox" value=""> 100M Swim</li>
								<li> <input type="checkbox" value=""> 200M Swim</li>
								<li> <input type="checkbox" value=""> 400M Swim</li>
								<li> <input type="checkbox" value=""> 500M Swim</li>
								<li> <input type="checkbox" value=""> 800M Swim</li>
								<li> <input type="checkbox" value=""> 1/2 Mile Swim</li>
								<li> <input type="checkbox" value=""> 1500M Swim</li>
								<li> <input type="checkbox" value=""> 1 Mile Swim</li>
								<li> <input type="checkbox" value=""> 1.2 Mile Swim</li>
								<li> <input type="checkbox" value=""> 1.5 Mile Swim</li>
								<li> <input type="checkbox" value=""> 2 Mile Swim</li>
								<li> <input type="checkbox" value=""> 2.4 Mile Swim</li>
								<li> <input type="checkbox" value=""> 1K Swim</li>
								<li> <input type="checkbox" value=""> 2K Swim</li>
								<li> <input type="checkbox" value=""> 5K Swim</li>
							</ul>
							<h2>Cycling</h2>
							<ul>
								<li> <input type="checkbox" value=""> 5K Run </li>
								<li> <input type="checkbox" value=""> 10K Run </li>
								<li> <input type="checkbox" value=""> Marathon </li>
								<li> <input type="checkbox" value=""> Half Marathon </li>
								<li> <input type="checkbox" value=""> 8K Run </li>
								<li> <input type="checkbox" value=""> 15K Run </li>
								<li> <input type="checkbox" value=""> 25K Run </li>
								<li> <input type="checkbox" value=""> 50K Run </li>
								<li> <input type="checkbox" value=""> 50 Mile Run </li>
								<li> <input type="checkbox" value=""> 3K Run </li>
								<li> <input type="checkbox" value=""> 4 Mile Run </li>
								<li> <input type="checkbox" value=""> 5 Mile Run </li>
								<li> <input type="checkbox" value=""> 10 Mile Run </li>
							</ul>
						</div>
						<div aria-labelledby="profile-tab" id="build-your-own" role="tabpanel" class="tab-pane fade">
							<ul class="full-ul">
								<li>
									<label>Course type :</label>
									<select>
										<option>Run</option>
										<option>Run</option>
										<option>Run</option>
										<option>Run</option>
									</select>
								</li>
								<li>
									<label>Distance :</label>
									<input type="" placeholder="Distance" />
									<select class="kilometer">
										<option>Kilometer</option>
										<option>Kilometer</option>
										<option>Kilometer</option>
										<option>Kilometer</option>
									</select>
								</li>
								<li>
									<label>Course name :</label>
									<input type="text" placeholder="Course name" />
								</li>
								<li>
								<label>&nbsp;</label>
									<input class="btn-primary" type="submit" value="Add Course" />
								</li>
							</ul>
						</div>
					</div>
				</div>
				<input class="btn-primary" type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>
