<tr>
    <td class="client-avatar"><img alt="image" src="<%= image_path('a2.jpg') %>"> </td>
    <td><a data-toggle="tab" href="race_path" class="client-link"><%= race.name %></a></td>
    <td> <%= race.date %> </td> 
    <td> <%= race.name + " " + race.extended_name %> </td>
    <td> <%= race.city %></td>
    <td style="width: 100px"><%= link_to 'Like(fixme)', '#' , class: 'label label-primary'%></td>
</tr>
