<tr>
    <td class="client-avatar"><img alt="image" src="<%= image_path('a2.jpg') %>"> </td>
    <td><a data-toggle="tab" href="result_path" class="client-link"><%= result.imported_race.name %></a></td>
    <td> <%= result.imported_race.date %> </td> 
    <td> <%= simple_encrypt(result.surname) + " " + simple_encrypt(result.name) %> </td>
    <td> <%= result.club %></td>
    <td> <%= ChronicDuration.output(result.total_time.to_i/100, :format => :chrono) %> </td>
    <td> <%= displayed_vdot(result) %> </td>
      <% if result.roles.count > 0 then %>
        <td>
          <%= "#{User.with_role(:racer, result).first.email.split('@')[0]}"%>
        </td>
      <% else %>
        <% if current_user!=nil #user is logged in%>
            <% if result.roles.count > 0 #result is already allocated%>
              <% if current_user.has_role? :racer, result then %>
                 <td style="width: 100px"><%= link_to 'Unallocate', unallocate_race_result_path(result) , class: 'label label-primary'%></td>
              <% end %>
            <% else #result is not yet allocated%> 
               <td style="width: 100px"><%= link_to 'Allocate', allocate_race_result_path(result) , class: 'label label-primary'%></td>
            <% end %>
          <% else %>
            <td>Signin to allocate results</td>
          <% end %>
      <% end %>
</tr>
