<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Search</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Search</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-9">
            <div class="ibox">
                <div class="ibox-content">
                      <span class="input-group">
                        <form action="/imported_race_results/search" accept-charset="UTF-8" method="get">
                          <input type="text" name="query" placeholder="Search results, athletes, teams or events " class="input form-control">
                          <button type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                        </form> 
                      </span>
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <span class="pull-right small text-muted">
                              <% if @results %>
                                <%= "#{@results.total_entries} Results"%>
                              <% end %>
                            </span>
                            <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-trophy"></i> 
                                Results
                                <% if @results %>
                                <%= "(#{@results.count.to_s})" %>
                                <% end %>
                                </a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-user"></i>
                                Athletes
                                <% if @results %>
                                <%= "(#{@athletenames.count.to_s})" %>
                                <% end %>
                                </a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-users"></i>
                                Teams
                                <% if @results %>
                                <%= "(#{@teamnames.count.to_s})" %>
                                <% end %>
                                </a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-dot-circle-o"></i> 
                                Races
                                <% if @races %>
                                <%= "(#{@races.count.to_s})" %>
                                <% end %>
                                </a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                            <% if @results %>      
                                              <% @results.each do |result|%>
                                                <%=render partial: 'result', object: result %>
                                              <% end %>
                                            <% end %>  
                                            <%= paginate @results %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="tab-2" class="tab-pane">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                            fixme: filter and group results by athletes
                                            <% if @results %>      
                                              <% @athletenames.each do |athletename|%>
                                                <tr>
                                                    <td class="client-avatar"><img alt="image" src="<%= image_path('a2.jpg') %>"> </td>
                                                    <td> <%= athletename %> </td> 
                                                </tr>
                                                <!--%=render partial: 'team_result', object: teamname %-->
                                              <% end %>
                                            <% end %>  
                                            <%= paginate @results %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div id="tab-3" class="tab-pane">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                            fixme: filter and group results by teams
                                            <% if @results %>      
                                              <% @teamnames.each do |teamname|%>
                                                <tr>
                                                    <td class="client-avatar"><img alt="image" src="<%= image_path('a2.jpg') %>"> </td>
                                                    <td> <%= teamname %> </td> 
                                                </tr>
                                                <!--%=render partial: 'team_result', object: teamname %-->
                                              <% end %>
                                            <% end %>  
                                            <%= paginate @results %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="tab-4" class="tab-pane">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                            fixme: filter and group results by events
                                            <% if @races %>      
                                              <% @races.each do |race|%>
                                                <%=render partial: 'race', object: race %>
                                              <% end %>
                                            <% end %>  
                                            <%= paginate @results %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox ">

                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-4 text-center">
                                    <h2>Invite Team Members</h2>

                                    <div class="m-b-sm">
                                        <img alt="image" class="img-circle" src="<%= image_path('a2.jpg') %>"
                                             style="width: 62px">
                                    </div>
                                </div>
                               
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll">

                                    <strong>Follow Team Members</strong>

                                    <ul class="list-group clear-list">
                                        <li class="list-group-item fist-item">
                                            <span class="pull-right"> 09:00 pm </span>
                                            Please contact me
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> 10:16 am </span>
                                            Sign a contract
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> 08:22 pm </span>
                                            Open new shop
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> 11:06 pm </span>
                                            Call back to Sylvia
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> 12:00 am </span>
                                            Write a letter to Sandra
                                        </li>
                                    </ul>
                                    <strong>Notes</strong>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <hr />
                                   
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        

