<div class="row  comment-section">
  <div class="col-lg-9">
    <div class="tabs-area">
      <ul role="tablist" id="myTabs" class="nav nav-tabs">
        <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#overview">Overview</a></li>
        <li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#race-details">Race Details</a></li>
        <li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#edit">Edit</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div aria-labelledby="home-tab" id="overview" role="tabpanel" class="tab-pane fade in active">
          <h2><%= @imported_race_result.name %> <%= @imported_race_result.surname %></h2>
          
          <ul class="rightside-ul">
			  <li>
				<strong>Division:</strong>
				<%= @imported_race_result.division %>
			  </li>
  		    <li>
			  <strong>Division rank:</strong>
		  	  <%= @imported_race_result.division_rank %>
		    </li>
			<li>
				<strong>Overall rank:</strong>
				<%= @imported_race_result.overall_rank %>
			</li>
          </ul>
          <h4><%= @imported_race_result.imported_race.name %></h4>
          <ul>          
			  <li>General Info</li>
			  <li>
				<strong>Gender:</strong>
				<%= @imported_race_result.gender %>
			  </li>
			  <li>
				<strong>Birthday:</strong>
				<%= @imported_race_result.birthday %>
			  </li>
			  <li>
				<strong>Profession:</strong>
				<%= @imported_race_result.profession %>
			  </li>
			  <li>
				<strong>Club:</strong>
				<%= @imported_race_result.club %>
			  </li>
			  <li>
				<strong>Country:</strong>
				<%= @imported_race_result.country %>
			  </li>
			  <li>
				<strong>City:</strong>
				<%= @imported_race_result.city %>
			  </li>
			  <li>
				<strong>Start number:</strong>
				<%= @imported_race_result.start_number %>
			  </li>			  
			  <li>
				<strong>Division num participants:</strong>
				<%= @imported_race_result.division_num_participants %>
			  </li>			
			<li>
				<strong>Total time:</strong>
				<%= @imported_race_result.total_time %>
			</li>
			  
			  <li>
				<strong>Transition1 time:</strong>
				<%= @imported_race_result.transition1_time %>
			  </li>
			  <li>
				<strong>Transition2 time:</strong>
				<%= @imported_race_result.transition2_time %>
			  </li>
			  <li>
				<strong>Import source:</strong>
				<%= @imported_race_result.import_source %>
			  </li>
			</ul>
			<ul class="pull-right">
			  <li>Race Summary</li>
			  <li>
				<strong>Swim time:</strong>
				<%= @imported_race_result.swim_time %>
			  </li>
			  <li>
				<strong>Bike time:</strong>
				<%= @imported_race_result.bike_time %>
			  </li>
			  <li>
				<strong>Run time:</strong>
				<%= @imported_race_result.run_time %>
			  </li>
			  <li>
				<strong>Overall num participants:</strong>
				<%= @imported_race_result.overall_num_participants %>
			</li>
			</ul>
			<ul class="full">
			  <li>
				<strong>Import source url:</strong>
				<a href="<%= @imported_race_result.import_source_url %>" target="_blank"><%= @imported_race_result.import_source_url %></a>
			  </li>
          </ul>

          
        </div>
        <div aria-labelledby="profile-tab" id="race-details" role="tabpanel" class="tab-pane fade">
            <div id="pie"></div>
            <ul>
				<li><strong>Rcseries:</strong><%= @imported_race_result.imported_race.series %></li>
				<li><strong>Name:</strong><%= @imported_race_result.imported_race.name %></li>
				<li><strong>Extended Name:</strong><%= @imported_race_result.imported_race.extended_name %></li>
				<li><strong>Country:</strong><%= @imported_race_result.imported_race.country %></li>
				<li><strong>City:</strong><%= @imported_race_result.imported_race.city %></li>
				<li><strong>Organizer:</strong><%= @imported_race_result.imported_race.organizer %></li>
				<li><strong>Sport Type ID:</strong><%= @imported_race_result.imported_race.sport_type_id %></li>
            </ul>
        </div>
        <div aria-labelledby="profile-tab" id="edit" role="tabpanel" class="tab-pane fade">
         <%= link_to 'Click here to edit results', edit_imported_race_result_path(@imported_race_result) %>
        </div>
      </div>
    </div>

    <% @new_comment = Comment.build_from(@imported_race_result, current_user.id, "") %>
    <%= render partial: "comments/template", locals: {commentable: @imported_race_result, new_comment: @new_comment} %>  

    <div class="comments-container">
      <!--  this comments variable is set as empty variable as reply comment tempate needs comments variable, when comment variable is set dynamically we need to change this-->
      <%= render partial: "comments/reply", locals: {comments: []} %>
    </div>
  </div>

  <%= render partial: "comments/google_ads" %>
</div>

<% content_for :javascript do %>

	<script type="text/javascript">
	$(function() {
		c3.generate({
			bindto: '#pie',
			data:{
				columns: [
					['Male', <%=ImportedRaceResult.where(imported_race_id: @imported_race_result.imported_race_id).where(gender: "M").count%>],
					['Female', <%=ImportedRaceResult.where(imported_race_id: @imported_race_result.imported_race_id).where(gender: "F").count%>]
				],
				colors:{
					Male: '#1ab394',
					Female: '#BABABA'
				},
				type : 'pie'
			}
		});
	});

	</script>

<% end %>
