.panel.panel-default
  .panel-heading
    %h4= '[# Edit settings #]'
  .panel-body
    = bootstrap_form_for @preference do |f|
      = f.select :locale, options_for_select(locale_list, @preference.locale)
      = f.submit '[# Submit #]', class: "btn btn-primary"

