= render "devise/shared/header_panel"
.panel.form_area
  .panel.panel-default
    .panel-heading
      %h4= t('.sign_in', :default => "Sign in")
      %h3= t('.sign_in_text', :default => "Sign in using your Racespace account ")
      .sign_in_text
        = link_to t(".forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name)

    .panel-body
      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f|
        = f.email_field :email, autofocus: true
        = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
        = render 'devise/shared/negative_captcha'
        = f.primary t('.sign_in', :default => "Sign in")
        .create_an_account
          = t('.sign_in_text', :default => "Don't have an Account? ")
          = link_to t(".sign_up", :default => " Create an Account"), new_registration_path(resource_name)
  = render "devise/shared/links"
= render "devise/shared/footer_panel"
