<div class="sign-in">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">
				<a href="javascript:void(0);"><a href="#"> <img alt="image" class="" src="<%= image_path('logo.png') %>"> </a></a>
				
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<nav class="navbar-collapse collapse pull-right" id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="#header">Home</a></li>
					<li><a href="#search">Search</a></li>
					<li><a href="#share">Share</a></li>
					<li><a href="#calendar">Calendar</a></li>
					<li><a href="#training">Training plans</a></li>
					<li><a href="#footer">Footer</a></li>
				</ul>
			</nav>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-area">
				<div class="sign_in_form">
					<div class="sign-in-title-panel">
						<i class="fa fa-sign-in" aria-hidden="true"></i>
						<h3>Sign In</h3>
						<p>Sign in using your RACESPACE account</p>
					</div>
							<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:id => "new_user"}) do |f| %>
								<div class="form-group">
									<div class="input-group">
										<%= f.text_field :email, :class=>'form-control', :id=>'user_email', :placeholder=>'E-mail address' %>
										<div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
									</div>

									<div class="input-group">
										<%= f.password_field :password, :class=>'form-control', :id=>'user_password', :placeholder=>'Password' %>
										<div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
									</div>
								</div>	
								<%= f.button "Sign up", :class=>"btn btn-red" do %>
									<i class="fa fa-sign-in" aria-hidden="true"></i>
									Sign In !
								<% end %>
							<% end %>
							<p>Don't have an account? <%= link_to new_user_registration_path({:role_id => 2}), :class=>'no_account' do %>Create an Account<% end %></p>
							
							<%= render "devise/shared/links" %>
							
							<p class="social-ul-top-txt">Or Sign In with an existing online profile:</p>
							<ul class="form-social-ul">
								<li><a href="javascript:void(0);"><img src="<%= image_path('fb-icon.png') %>" alt="" /></a></li>
								<li><a href="javascript:void(0);"><img src="<%= image_path('google-icon.png') %>" alt="" /></a></li>
								<li><a href="javascript:void(0);"><img src="<%= image_path('yahoo-icon.png') %>" alt="" /></a></li>
								<li><a href="javascript:void(0);"><img src="<%= image_path('twitter-icon.png') %>" alt="" /></a></li>
								<li><a href="javascript:void(0);"><img src="<%= image_path('color-box-icon.png') %>" alt="" /></a></li>
								<li><a href="javascript:void(0);"><img src="<%= image_path('in-icon.png') %>" alt="" /></a></li>
							</ul>
				</div>
			</div>
		</div>
	</div>
</div>
