<p id="notice"><%= notice %></p>

<h1>Listing Zones</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Variant</th>
      <th>CalcBase</th>
      <th>Method</th>
      <th>Sport type</th>
      <th>User</th>
      <th>Low</th>
      <th>High</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= zone.name %></td>
        <td><%= zone.description %></td>
        <td><%= zone.variant %></td>
        <td><%= zone.calc_base %></td>
        <td><%= zone.method %></td>
        <td><%= zone.sport_type %></td>
        <td><%= zone.user %></td>
        <td><%= zone.low %></td>
        <td><%= zone.high %></td>
        <td><%= link_to 'Show', zone %></td>
        <td><%= link_to 'Edit', edit_zone_path(zone) %></td>
        <td><%= link_to 'Destroy', zone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zone', new_zone_path %>
