<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zone.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zone.description %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @zone.variant %>
</p>

<p>
  <strong>CalcBase:</strong>
  <%= @zone.calc_base %>
</p>

<p>
  <strong>Method:</strong>
  <%= @zone.method %>
</p>

<p>
  <strong>Sport type:</strong>
  <%= @zone.sport_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @zone.user %>
</p>

<p>
  <strong>Low:</strong>
  <%= @zone.low %>
</p>

<p>
  <strong>High:</strong>
  <%= @zone.high %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
