<% title "Racebook" %>

<div class="wrapper wrapper-content">

<div class="row">
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <ul role="tablist" id="myTabs" class="nav nav-tabs">
                    <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#racebook">Racebook</a></li>
                    <li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#create-event">Create an Event</a></li>
                </ul>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div id="myTabContent" class="tab-content">
                <div aria-labelledby="home-tab" id="racebook" role="tabpanel" class="tab-pane fade in active">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Race</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>VDOT</th>
                                    <th>Comment</th>
                                    <th>Like</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% current_user && ImportedRaceResult.where(id: current_user.roles.where(name: "racer").pluck(:resource_id)).each_with_index do |result,index| %>
                                    <tr>
                                        <td><%=(index+1).to_s%></td>
                                        <td><a href="#"><%= link_to result.imported_race.name, imported_race_result_path(result) %></a></td>
                                        <td><%= result.imported_race.date %></td>
                                        <td><%= ChronicDuration.output(result.total_time.to_i/100, :format => :chrono) %></td>
                                        <td><%= result.vdot.to_i.to_s %></td>
                                        <td><a href="#"><%= link_to "Comments (#{result.comment_threads.count.to_s})", imported_race_result_path(result) %></a></td>
                                            <!--% @new_comment = Comment.build_from(result, current_user.id, "") %-->
        									<!--%= render partial: "comments/template", locals: {commentable: result, new_comment: @new_comment} %-->  
                                        <td>
                                            <div class="btn-group">
                                                <%if result.find_votes_for(voter: current_user).count == 0%>
                                                    <a href="<%=like_imported_race_result_path(result)%>" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> <span class="likes-count"><%=result.votes_for.size.to_s %></span></a>
                                                <%else%>
                                                    <a href="<%=unlike_imported_race_result_path(result)%>" class="btn btn-xs btn-white"><i class="fa fa-thumbs-down"></i> <span class="likes-count"><%=result.votes_for.size.to_s %></span></a>
                                                <%end%>
                                                
                                                <button class="btn btn-white btn-xs"><i class="fa fa-share-alt"></i> Share</button>
                                            </div>
                                        </td>
                                        </tr>
                                    <%end%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- file is included for create events -->
                <%= render partial: "events/create_events" %>  
            </div>
        </div>
    </div>

    <div class="col-lg-4 box-shadow">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Unregistered Users you may know</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="feed-activity-list">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <% @possible_team_mate_results[0..5].each do |possible_team_mate_result| %>
                                <tr>
                                    <td class="client-avatar"><a href="#"><img alt="member" class="img-circle" src="<%= image_path('a'+rand(1..8).to_s+'.jpg') %>"></a></td>
                                    <td><a data-toggle="tab" href="#contact-1" class="client-link"><%=possible_team_mate_result.surname+' '+possible_team_mate_result.name+' '+possible_team_mate_result.club%></a></td>
                                    <td><a href="#" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i>Invite</a></td>
                                </tr>
                                <%end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4"></div>

    <div class="col-lg-4"></div>

    <div class="col-lg-4 box-shadow">
        <%=render 'layouts/activityfeed' %>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>User you may know</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="feed-activity-list">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <% User.all.limit(5).each do |user| %>
                                <tr>
                                    <td class="client-avatar"><a href="#"><img alt="member" class="img-circle" src="<%= image_path('a'+rand(1..8).to_s+'.jpg') %>"></a></td>
                                    <td><a data-toggle="tab" href="#contact-1" class="client-link"><%=user.email.split('@')[0].gsub('.',' ')%></a></td>
                                    <% @user = user %> 
                                    <td><%= render 'layouts/follow_user', :locals => {:user => user} if signed_in? %></td>
                                    <% @user = nil %> 
                                </tr>
                                <%end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>
                </div>
            </div>
        </div><!-- save-->

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Triathlon VDOT Performance Chart</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <canvas id="radarChart"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
   

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    var radarData = {
        labels: ["Swimming", "Transition1", "Cycling", "Transition2", "Running", "Total"],
        datasets: [
            <% @my_imported_race_results && @my_imported_race_results.each_with_index do |rr,index| %>
            {
                label: "My First dataset <%=index.to_s%>",
                fillColor: "rgba(26,179,148,0.2)",
                strokeColor: "rgba(26,179,148,1)",
                pointColor: "rgba(26,179,148,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: <%=[rr.triswim_vdot.to_i,rr.transition1_vdot.to_i,rr.tribike_vdot.to_i,rr.transition2_vdot.to_i,rr.trirun_vdot.to_i,rr.tritotaltime_vdot.to_i]%>
            },
            <% end %>
            {
                label: "My Second dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [28, 48, 40, 19, 66, 55]
            }
        ]
    };

    var radarOptions = {
        scaleShowLine: true,
        angleShowLineOut: true,
        scaleShowLabels: false,
        scaleBeginAtZero: true,
        angleLineColor: "rgba(0,0,0,.1)",
        angleLineWidth: 1,
        pointLabelFontFamily: "'Arial'",
        pointLabelFontStyle: "normal",
        pointLabelFontSize: 10,
        pointLabelFontColor: "#666",
        pointDot: true,
        pointDotRadius: 3,
        pointDotStrokeWidth: 1,
        pointHitDetectionRadius: 20,
        datasetStroke: true,
        datasetStrokeWidth: 2,
        datasetFill: true,
        responsive: true,
    }

    var ctx = document.getElementById("radarChart").getContext("2d");
    var myNewChart = new Chart(ctx).Radar(radarData, radarOptions);

});

</script>

<% end %>






