<div class="feed-element">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>" class="pull-left">
    <img alt="image" class="img-circle" src="/assets/a4.jpg">
    </a>
    <div class="media-body ">
        <small class="pull-right text-navy"><%="added #{time_ago_in_words(activity.created_at)} ago"%></small>
        <strong><%= link_to activity.owner.email, activity.owner if activity.owner %>
        </strong> stopped following <strong><%=User.find_by_id(activity.trackable_id).email%></strong>. <br>
        <div class="actions">
            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
            <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
        </div>
    </div>
</div>

