//= require iCheck/custom.css
//= require steps/jquery.steps.css
//= require dropzone/basic.css
//= require dropzone/dropzone.css
//= require colorpicker/css/bootstrap-colorpicker.min.css
//= require datapicker/datepicker3.css
//= require clockpicker/clockpicker.css


.swim-workout-event {
    background-image: asset-data-url("swim_26x24px_white.png"); 
    padding-top: 30px;
    background-position: 2px 2px;
    background-repeat: no-repeat;}

.bike-workout-event {
    background-image: asset-data-url("bike_26x24px_white.png"); 
    padding-top: 30px;
    background-position: 2px 2px;
    background-repeat: no-repeat;}

.run-workout-event {
    background-image: asset-data-url("run_26x24px_white.png"); 
    padding-top: 30px;
    background-position: 2px 2px;
    background-repeat: no-repeat;}

.generic-workout-event {
    padding-top: 30px;
    background-position: 2px 2px;
    background-repeat: no-repeat;}

.weight-metric-event {
    padding-top: 30px;
    background-position: 2px 2px;
    background-repeat: no-repeat;}


