<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Your daily feed</h5>
        <div class="ibox-tools">
            <span class="label label-success">
                <%if @activities %>
                    <%@activities.length.to_s%> Messages
                <%else %>
                    No Messages
                <%end %>
            </span>
        </div>
    </div>
    <div class="ibox-content">
        <div>
            <div class="feed-activity-list">
            <%if @activities %>
              <% @activities.includes(:owner).each do |activity| %>
              <%= render_activity activity %>
              <% end %>
            </div>
            <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>
            <% end %>
        </div>
    </div>
</div>
