.jumbotron

  %pre<
    = preserve do
      = params.to_yaml
  
  - if signed_in?
    %pre<
      = preserve do
        = "current_user: (#{current_user.id}) #{current_user.email}"
        %br<>
        = "super_admin:  #{current_user.is_super_admin?}"
        %br<>
        = "admin:        #{current_user.is_admin?}"
        %br<>
  
  %pre<
    = preserve do
      = "Locale: #{I18n.locale}"

