.main-flash

  - flash.each do |key, val|
    - unless key == 'timedout'
      %div{ class: "alert alert-dismissable alert-#{key}" }
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
        = val
  
  -# Workaround: For whatever reason the registration controller shows invalid captcha messages
  -# only in the resource error messages, not in the flash. Add message to flash if present.
  
  - if captcha_flash_error_needed?
    %div{ class: "alert alert-dismissable alert-danger" }
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
      = t('devise.invalid_captcha')

