<div class="stats">
    <strong id="following" class="followstats">
      <%= current_user.follow_count %>
    </strong>
    following
    <strong id="followers" class="followstats">
      <%= current_user.followers.count %>
    </strong>
    followers
</div>
