<% unless current_user == @user %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <a href="<%=stop_following_user_path(@user)%>" class="btn btn-xs btn-white"><i class="fa fa-thumbs-down"></i>Unfollow</a>
  <% else %>
     <a href="<%=follow_user_path(@user)%>" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i>Follow</a>
  <% end %>
  </div>
<% end %>
