%nav.navbar.navbar-default.navbar-inverse.navbar-fixed-bottom
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-2", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  #bs-example-navbar-collapse-2.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      %li= link_to t('common.pages.contact'), root_path
      %li= link_to t('common.pages.about'), root_path
      %li= link_to t('common.pages.home'), root_path

