%nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => root_path}= t('app.brand')
    - if signed_in?
      %ul.nav.navbar-nav.navbar-left
        %li= link_to t('[# Results #]'), imported_race_results_path
        %li= link_to t('[# Races #]'), imported_races_path
        %li= link_to t('[# Statistics #]'), race_statistics_path
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    - if signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            = current_user.email
            %strong.caret
          %ul.dropdown-menu
            %li= link_to t('common.user.edit_settings'), preference_path(current_user.id)
            %li= link_to t('common.user.edit_password'), edit_user_registration_path
            %li.divider
            %li= link_to t('common.user.sign_out'), destroy_user_session_path, method: :delete
      %ul.nav.navbar-nav.navbar-right
        %li= link_to '[# User list #]', users_path
    - else
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t('common.user.sign_in'), new_user_session_path
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t('common.user.sign_up'), new_user_registration_path

