<% if current_user.present? %>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
            <img alt="logo" src="<%= image_path('Logo.png') %>">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="<%= image_url 'profile_small.jpg' %>"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <% if current_user == nil %>
                                   <strong class="font-bold"><%= "Please login..."%></strong>
                                <% else %>
                                    </span> <span class="text-muted text-xs block"><%=current_user && current_user.email.split('@')[0].gsub('.',' ')%><b class="caret"></b></span>
                                <% end %>    
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Profile</a></li>
                        <li>
                            <% if current_user %>
                            <a data-toggle="modal" class="btn-xs btn-primary" href="#uploadAvatarModal">Upload avatar</a>
                            <div id="uploadAvatarModal" class="modal inmodal" tabindex="-2" role="dialog" aria-labelledby="myModaluploadAvatarLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h3 id="myModaluploadAvatarLabel">Upload avatar</h3>
                                </div>
                                <div class="modal-body">
                                    <%= form_for current_user, url: users_path, :html => { :multipart => true } do |form| %>
                                      <%= form.file_field :avatar %>
                                      <%= form.submit "upload avatar" %>
                                    <% end %>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                            <% end %>
                        </li>
                        
                        <li><a href="">Contacts</a>
                        </li>
                        <li><a href="">Mailbox</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="">Logout</a>
                        </li>
                    </ul>
                </div>
                <li>
                    <%= render 'layouts/followstats' %>
                </li>
                <div class="logo-element">
                    RP
                </div>
            </li>
            <li class="<%= is_active_controller('dashboards') %>">
                <a href="<%=root_path%>"><i class="fa fa-search"></i> <span class="nav-label" data-i18n="nav.dashboard">Search</span> </a>
            </li>
            <li class="<%= is_active_controller('dashboards') %>">
                <a href="<%=dashboards_dashboard_0_path%>"><i class="fa fa-book"></i> <span class="nav-label" data-i18n="nav.dashboard">RACEBOOK</span> </a>
            </li>
            
            <li>
                <a href="<%=users_path%>"><i class="fa fa-user"></i> <span class="nav-label">Browse Athletes</span> </a>
            </li>
            
            <li>
                <a href="<%=groups_path%>"><i class="fa fa-users"></i> <span class="nav-label">Browse Teams</span> </a>
            </li>
            
            <li>
                <a href="<%=imported_races_path%>"><i class="fa fa-dot-circle-o"></i> <span class="nav-label" data-i18n="nav.dashboard">Browse Events</span> </a>
            </li>
            
            <li>
                <a href="<%=imported_race_results_path%>"><i class="fa fa-trophy"></i> <span class="nav-label" data-i18n="nav.dashboard">Browse Results</span> </a>
            </li>
            
            <li>
                <a href="<%=trainingplans_path%>"><i class="fa fa-list-alt"></i> <span class="nav-label" data-i18n="nav.dashboard"><%="trainingplans #{current_user.trainingplans.count.to_s}"%></span> </a>
            </li>
            
            <li>
                <a href="#"><i class="fa fa-trophy"></i> <span class="nav-label" data-i18n="nav.dashboard">Competitions</span> </a>
            </li>
            
            <li>
                <a href="<%=calc_vdot_path%>"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.dashboard"><%="Calculate VDOT"%></span> </a>
            </li>

            <li>
                <a href="<%=qualigel_path%>"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.dashboard"><%="Qualigel"%></span> </a>
            </li>

            <li>
                <a href="<%=workouts_path%>"><i class="fa fa-jpy"></i> <span class="nav-label" data-i18n="nav.dashboard"><%="Workouts #{current_user.workouts.count.to_s}"%></span> </a>
            </li>
            
            <li>
                <a href="<%=metrics_path%>"><i class="fa fa-dashboard"></i> <span class="nav-label" data-i18n="nav.dashboard"><%="Metrics #{current_user.metrics.count.to_s}"%></span> </a>
            </li>
            
            <li>
                <a href="<%=zones_path%>"><i class="fa fa-signal"></i> <span class="nav-label" data-i18n="nav.dashboard"><%="Zones #{current_user.zones.count.to_s}"%></span> </a>
            </li>
            
            <li>
                <a href="<%=virtual_race_race_view_path%>"><i class="fa fa-cloud"></i> <span class="nav-label" data-i18n="nav.dashboard"><%="Virtual Race"%></span> </a>
            </li>
            
            <li>
                <a href="<%=race_statistics_path%>"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.dashboard"><%="Statistics"%></span> </a>
            </li>

          

            <li>
			<% current_user.roles.group(:name).count.to_a.each do |role_name,role_count|%>    
				<li>
				<a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels"><%=role_name%> <%=role_count%></span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
			      
			    </ul>
				</li>
			<% end %>
			</li>
	     </ul>

    </div>
</nav>
<%
end
%>
