<div class="header-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">
				<a href="javascript:void(0);"><a href="#"> <img alt="image" class="" src="<%= image_path('logo.png') %>"> </a></a>
				
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<nav class="navbar-collapse collapse pull-right" id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="#header">Home</a></li>
					<li><a href="#search">Search</a></li>
					<li><a href="#share">Share</a></li>
					<li><a href="#calendar">Calendar</a></li>
					<li><a href="#training">Training plans</a></li>
					<li><a href="#footer">Footer</a></li>
				</ul>
			</nav>
			</div>
		</div>
	</div>
</div>
