<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<ul class="foot-ul">
					<li><a href="#">Getting Started</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Licensing</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
