 <div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"/>
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Willkommen bei RACEsPACE</span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>  <span class="label label-success"><%= "#{MqttMessage.count.to_s}" %></span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <% MqttMessage.all.each do | mqtt_msg | %>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="#" class="pull-left">
                                    <img alt="image" class="img-circle" src="<%= image_path('a7.jpg') %>" />
                                </a>
                                <div class="media-body">
                                    <small class="pull-right"><%=mqtt_msg.created_at.strftime("%Y/%m/%d %H:%M")%></small>
                                    <%= "#{mqtt_msg.message} #{mqtt_msg.topic}" %> 
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                    <% end %>
                    
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary"><%=@activities.count unless @activities.nil?%></span>
                </a>
                <ul class="dropdown-menu scrollable-menu dropdown-alerts">
                    <div class="feed-activity-list">
                        <%if @activities %>
                            <% @activities.includes(:owner).each do |activity| %>
                            <%= render_activity activity %>
                            <% end %>
                        <% end %>
                    </div>
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>


            <li>
                <% if signed_in? %>
                    <i class="fa fa-sign-out"></i><%=link_to t('common.user.sign_out'), destroy_user_session_path, method: :delete %>
                <% else %>
                    <i class="fa fa-sign-in"></i><%=link_to t('common.user.sign_in'), new_user_session_path %>
                <% end %>
            </li>

            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
    </ul>
</nav>
</div>
