<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="<%= meta_keywords %>" /> 
    <meta name="description" content="<%= meta_description %>" />
    <title><%= title %></title>
    <%= include_gon(watch: true) %>
    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>

<!-- Skin configuration box -->
<% if params[:controller] == 'racepaces' %>
<% else %>
	<%= render 'layouts/skinconfig' %>
<% end %>

    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <%
        margin_left = ''
        if !current_user.present?
           margin_left = '0px'
        end   
        %>
        <div id="page-wrapper" class="gray-bg <%= @extra_class %> <% if params[:controller] == 'racepaces' %> no-lft-rgt-pad <%end %>" style="margin-left:<%= margin_left %>">

            <!-- Page wrapper -->
			<% if params[:controller] == 'racepaces' %>
				<%= render 'layouts/racebookheader' %>
			<% else %>
				<%= render 'layouts/topnavbar' %>
			<% end %>

            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->
            <% if params[:controller] == 'racepaces' %>
				<%= render 'layouts/racebookfooter' %>
			<% else %>
				<%= render 'layouts/footer' %>
			<% end %>

        </div>
        <!-- End page wrapper-->

        <!-- Right sidebar -->
        <%= render 'layouts/rightsidebar' %>

    </div>
    <!-- End wrapper-->

    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>

</body>
</html>
