!!! 5
%html

  %head
    = tag "meta", charset: "utf-8"
    = tag "meta", name: "viewport", content: "width=device-width, initial-scale=1"
    = include_gon(watch: true) 
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %title= t('app.title')
    = yield :head
    
  %body{ class: "controller_#{controller_name} action_#{action_name}" }
    .container

      .row.clearfix
      
        .col-md-12.column
        
          = render 'layouts/header'
          
          - if !flash.empty? || captcha_flash_error_needed?
            = render 'layouts/flash'

          .jumbotron
            = yield
          
          - if Rails.env.development?
            = render 'layouts/debug'
          
          = render 'layouts/footer'

